[2019-10-11 13:01] dependabot-preview[bot] opened #25 "Dependabot can't parse your go.mod"
Dependabot couldn't parse the go.mod found at `/go.mod`.

[2019-12-03 09:27] #25 closed

[2020-02-14 15:43] mangelajo opened #63 "Update dapper image to use the submariner dapper image"
https://github.com/submariner-io/submariner/blob/master/Dockerfile.dapper#L1

[2020-02-25 20:35] dfarrell07 opened #66 "Add support for Armada-driven K8s deployments"
To better reuse deployment logic, submariner-io/armada has been created to abstract multicluster K8s deployments with kind under the hood. It would help the maintainability of Lighthouse to move to this shared tooling.

This work is parallel to https://github.com/submariner-io/submariner/pull/317, which added Armada support to the main Submariner repo. Also related to https://github.com/submariner

[2020-03-03 13:18] dfarrell07 opened #69 "Base Dockerfile.dapper on common submariner/dapper-base"
Base the Dockerfile describing Lighthouse's CI base container (`Dockerfile.dapper`) on the shared/common base container maintained in submariner-io/submariner. This will allow de-duplicating the tooling installs and version maintenance. It will also allow future sharing/deduplication, like with the e2e scripting per https://github.com/submariner-io/submariner/issues/369.

[2020-03-04 13:56] tpantelis opened #71 "Migrate E2E tests to reuse submariner framework"
When the lighthouse E2E tests were initially added, a snapshot of the submariner project's framework module was copied into lighthouse. We  should reuse the submariner framework coode instead maintaining a separate copy.

[2020-03-07 16:06] #71 closed

[2020-03-07 16:06] tpantelis commented on #71
PR: https://github.com/submariner-io/lighthouse/pull/72

[2020-03-11 13:29] manosnoam opened #74 "Lighthouse-controller is not reachable between private and public clusters"
Installing Submariner with service-discovery on OSP (private cluster) and AWS (public cluster), the lighthouse-controller seems to be unreachable between clusters:

Testing connection between ngnix <--> netshoot works with direct IPs, but does not work with domain name:
[code]

Lighthouse pod log shows:

`{Name:"nmanos-cluster-b-tunnel-jsvwf"}}, Status:v1beta1.KubeFedClusterStatus{Conditions:[]v1b

[2020-03-11 14:54] dfarrell07 commented on #66
Per discussions with @tpantelis, @mkolesnik and many others - we decided not to move in the Go-based Armada direction. We will still end up abstracting and sharing logic better, but they will be different TODOs and we should track them with different issues.

[2020-03-11 14:54] #66 closed

[2020-03-13 10:23] aswinsuryan opened #76 "Make Lighthouse Plugin a part of openshift coreDNS"
See - > https://github.com/openshift/coredns/issues/27

[2020-03-16 12:31] dfarrell07 commented on #69
Per discussions with @vthapar and @mkolesnik, we actually don't want to make a dependency on submariner-io/submariner from Lighthouse. We should instead extract the deployment logic from submariner-io/submariner into a common repo, then consume that in Lighthouse.

[2020-03-16 12:31] #69 closed

[2020-03-16 15:01] aswinsuryan opened #78 "Aligning lighthouse CRDs with upstream design CRDs on multi cluster CRDs,"
Aligning lighthouse CRDs with upstream design[1] CRDs on multi cluster CRDs and do the required changes in lighthouse controller to match the design proposal
[1] https://docs.google.com/document/d/1hFtp8X7dzVS-JbfA5xuPvI_DNISctEbJSorFnY-nz6o/edit

[2020-03-17 13:56] mangelajo opened #80 "Remove the kubefed dependency in lighthouse"

[2020-03-17 21:49] tpantelis opened #81 "Use shipyard E2E test framework"

[2020-03-30 10:25] #81 closed

[2020-04-02 10:30] aswinsuryan opened #91 "Update the lighthouse documentation"
Update the lighthouse documentation with the new architecture.

[2020-04-07 13:55] tpantelis commented on #80
This shouldn't be closed yet.

[2020-04-22 05:17] nyechiel commented on #91
This needs to be updated to reflect the new architecture: https://submariner-io.github.io/architecture/components/lighthouse/

[2020-04-24 15:13] aswinsuryan commented on #91
Have raised PR's on the respective projects as below
submariner-operator/pull/334 ,
submariner-io/lighthouse/pull/100 ,
submariner-website/pull/94 ,
submariner-website/pull/92,

[2020-04-28 07:40] mangelajo opened #108 "Move README content to the website, link here (lighthouse repo)"

[2020-04-28 11:33] #91 closed

[2020-04-28 11:33] #108 closed

[2020-04-28 13:05] aswinsuryan opened #110 "Change lighthouse tests to use forward plugin."
The lighthouse implementation shall be changed to make use of the forward plugin, available in CoreDNS.

1) Lighthouse shall be running in a separate DNS server ( can be coreDns based).
2) Lighthouse shall be responsible to answer queries on a domain name it owns (svc.supercluster.local.)
3) The in-cluster coreDns can be configured to forward DNS requests to svc.supercluster.local to the lighthous

[2020-04-28 13:11] aswinsuryan opened #111 "Opt-in for multi-cluster service-discovery"
Now all services ( except for few default services ) are discoverable across clusters.

An opt-in feature shall be added, where only services with a specific label  (could explore other options) are discoverable.

[2020-04-29 08:33] vthapar opened #112 "Add Lighthouse controller to support MCS API design"
https://github.com/kubernetes/enhancements/pull/1646 proposes a solution for Multi Cluster Service discovery that requires a central controller to aggregate and distribute resources to all the clusters.

Current lighthouse distrubutes each cluster's individual MCS CR and local agents aggregate it. We need a central controller to support distribution of aggregated MCS CR to clusters.

[2020-04-29 09:20] vthapar opened #113 "Don't return IPs of services in disconnected clusters"
Use the Gateway status information to determine if a cluster is connected or not. If it isn't connected, don't return IPs of services running in that cluster.

[2020-04-29 11:54] vthapar opened #114 "Add round robin selection to IPs returned by lighthouse plugin"
Modify lighthouse plugin to use round robin selection from list of IPs for a given multi cluster service.

[2020-04-30 06:39] aswinsuryan commented on #111
We could consider creating an exported service and the lighthouse agent could listen for that event instead of service creation.

// ServiceExport declares that the associated service should be exported to
// other clusters.
type ServiceExport struct {
        metav1.TypeMeta `json:",inline"`
        // +optional
        metav1.ObjectMeta `json:"metadata,omitempty"`
        // +optional
        St

[2020-04-30 10:50] nyechiel opened #117 "Add support for headless services"
With "headless" service, instead of a single Service IP with load-balancing, the platform should return the IPs of associated Pods. This allows to interact directly with the Pods instead of a proxy.

An headless services can be configured by explicitly specifying "None" for the clusterIP (.spec.clusterIP), and can be utilized with or without selectors: https://kubernetes.io/docs/concepts/services-

[2020-04-30 10:55] nyechiel commented on #117
This was requested by @hyunsun.

/CC @vthapar

[2020-05-04 08:36] vthapar commented on #112
Initial plan is to try and see if we can make it work without needing a central controller, as long as aggregated resource is available at each cluster.

[2020-05-06 12:06] mkolesnik opened #119 "Implement github actions / lighthouse"

[2020-05-06 12:54] mkolesnik opened #120 "Use shipyard's image building"

[2020-05-06 12:55] mkolesnik opened #121 "Use shipyard's release target"

[2020-05-11 09:05] #119 closed

[2020-05-11 10:10] mkolesnik opened #129 "E2E tests are failing when deploying with globalnet"
While working on #127 I discovered that globalnet isn't supported by the E2E tests.

The failures are recorded in the log - [log.txt](https://github.com/submariner-io/lighthouse/files/4608932/log.txt)

Excerpt:
[code]

[2020-05-12 08:13] #129 closed

[2020-05-14 13:11] #120 closed

[2020-05-14 13:11] #121 closed

[2020-05-18 06:20] vthapar opened #139 "Add Service Export CRD to lighthouse"
sub task of https://github.com/submariner-io/lighthouse/issues/78

[2020-05-18 06:21] vthapar opened #140 "Add ServiceImport CRD to lighthouse"
Sub task of https://github.com/submariner-io/lighthouse/issues/78

[2020-05-18 06:22] vthapar opened #141 "Replace MCS with ServiceImport"
Sub task of https://github.com/submariner-io/lighthouse/issues/78

[2020-05-18 06:26] vthapar opened #142 "PoC: DNS based MCS implementation"
Sub Task of https://github.com/submariner-io/lighthouse/issues/78

MCS API [https://github.com/kubernetes/enhancements/pull/1646]  proposes use of endpoint slices and changes to, or use of an alt kube-proxy. With lighthouse we want to try things a bit differently, with a more DNS centered solution. Create a PoC exploring this solution to see how it compares to https://github.com/JeremyOT/mcs-demo

[2020-05-19 09:40] #139 closed

[2020-05-22 09:21] #111 closed

[2020-05-22 16:40] aswinsuryan opened #152 "Add a test in e2e to test if Internet connectivity works"
Add a test in e2e  to test if Internet connectivity works after lighthouseDNS server is deployed.

[2020-06-15 08:27] aswinsuryan commented on #76
Lighthouse is enhanced to use forward plugin and will now be authoritative for a separate Domain, supercluster.local, which will resolve services across clusters.
Corefile: |
supercluster.local:53 {
forward . 10.10.10.10
}
.:53 {
errors
health
log
kubernetes cluster1.local in-addr.arpa ip6.arpa {
pods insecure
upstream
fallthrough in-addr.arpa ip6.arpa
}
prometheus :9153
forward . /etc/resolv.conf

[2020-06-15 08:27] #76 closed

[2020-06-15 09:18] #80 closed

[2020-06-15 09:20] vthapar commented on #74
Not applicable anymore with removal of kubefed dependency.

[2020-06-15 09:33] manosnoam commented on #74
Agree

[2020-06-15 09:33] #74 closed

[2020-06-15 09:50] vthapar opened #164 "Add Status for ServiceExport"
`ServiceExport` has a status field which is currently not being used. Update the status correctly so it can be used for automation and diagnostics.

[2020-06-15 09:51] vthapar opened #165 "Allow creation of ServiceExport before service"
Currently Service must already exist for ServiceExport to work. Allow ServiceExport to be created before service. This will help with automation.

[2020-06-15 09:53] vthapar opened #166 "Optimize globalnet support for multicluster services"
If globalnet is enabled, ServiceIP should not be used for an exported service. Only once GlobalIP shows up should we distribute Service and mark `ServiceExport` as `ready`

[2020-06-16 06:56] mkolesnik opened #167 "Use shared targets from Shipyard"
Validation, tests and other targets were migrated to Shipyard, use them instead of cloned scripts.

[2020-06-23 15:18] dependabot-preview[bot] opened #177 "Dependabot can't resolve your Go dependency files"
Dependabot can't resolve your Go dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/submariner-io/update-logs/37760925).

[2020-06-24 06:51] #177 closed

[2020-06-24 09:07] skitt commented on #63
This can be closed now.

[2020-06-29 07:07] #110 closed

[2020-07-02 06:22] #164 closed

[2020-07-02 19:54] #167 closed

[2020-07-06 17:07] #140 closed

[2020-07-09 16:09] #141 closed

[2020-07-10 22:15] davecaplinger opened #200 "Access remote services in a specific cluster explicitly"
I'm looking at options for deploying submariner and lighthouse in pre-existing clusters.  If two clusters `east` and `west` have the same (default) dns suffix `cluster.local` is there a way for pods in cluster `east` to access services in cluster `west` explicitly using some form of a forward plugin config for CoreDNS in `east` so that lookups for `*.svc.west.local` (or something else) are sent to

[2020-07-14 15:27] #165 closed

[2020-07-15 07:19] vthapar commented on #166
This was addressed as part of changes in https://github.com/submariner-io/lighthouse/pull/195 as it wasn't possible to implement #195 correctly without these changes.

[2020-07-15 10:39] aswinsuryan opened #203 "Add tests for Headless services"
The test to cover Headless service needs to be added in e2e tests.

[2020-07-15 13:55] #112 closed

[2020-07-15 19:16] tpantelis commented on #142
Should we move to 0.6.0?

[2020-07-17 08:28] aswinsuryan commented on #117
Some initial thoughts about the requirements

- The  query with search path <pod-name>.<svcname>.<ns>.svc.supercluster.local should just return the pods IP with that name. (This query may not succeed if the pods are part of a deployment)
- The pod name here corresponds to the pod name in the metadata of the k8s pod resource.
- The pod names will not be unique across clusters. This needs to be made

[2020-07-20 09:16] pinikomarov opened #211 "add lighthouse e2e tests to downstream CI"
@Vishal Thapar @mkolesni @Tom Pantelis https://github.com/submariner-io/lighthouse/blob/9d0d2ef6768c78a844fc8933fa3d246a37705b81/test/e2e/discovery/service_discovery.go#L21 Hi , Do you guys know how/where these tests are run ? via github actions / subctl verify ? , thanks

test/e2e/discovery/service_discovery.go:21
var _ = Describe("[discovery] Test Service Discovery Across Clusters", func() {
<ht

[2020-07-20 09:24] manosnoam opened #212 "Lighthouse pod log is blown with "transform function returned nil""
I would expect to see in LH pod logs:
https://github.com/submariner-io/lighthouse/blob/c39bbe5dd3f55fabf31198c51929551220217bee/pkg/agent/controller/agent.go#L86

However, it seems the LH pod log is blown with "transform function returned nil", and there's no indication of "Lighthouse agent syncer started", as in the following pod log:
[lh.log](https://github.com/submariner-io/lighthouse/files/494

[2020-07-20 17:13] #142 closed

[2020-07-22 07:43] vthapar opened #214 "Aggregate ServiceImports"
Currently ServiceImports are distributed as individual copy from each source cluster and exist that way. Aggregation is done in Plugin code, which is not optimal. Agent should aggregate ServiceImports into a single resource on destination clusters and plugin should use those. This will also make it easy to troubleshoot.

[2020-07-22 08:02] vthapar opened #215 "Add support for StatefulSets"
To support StatefulSets [https://kubernetes.io/docs/concepts/workloads/controllers/statefulset] we need to provide means to access individual pods in the set using hostnames, rather than just return list of PodIPs as we do in Headless Services. This is currently not possible with what we have in ServiceImports and will likely need EndpointSlice support.

[2020-07-22 08:07] #166 closed

[2020-07-22 08:10] vthapar opened #216 "Deprecate and cleanup multiclusterservices CRD"
We no longer use multiclusterservices, already replaced with ServiceImports. Deprecate the spec and cleanup any references and usages of it in code, scripts and deployments.

[2020-07-23 22:34] tpantelis opened #221 "Append to the ServiceExportCondition list"
When we update the `ServiceExport` status, we always overwrite the entire in the `ServiceExportCondition`. Since it's a list, we should append if the new `ServiceExportCondition` is different than the previous entry. Also we probably want to truncate the list to keep the last 10 or so entries.

[2020-07-24 13:47] #221 closed

[2020-07-24 19:41] #113 closed

[2020-07-26 06:51] manosnoam commented on #212
Hi @aswinsuryan, @vthapar, @nyechiel
As we spoke, please do not close my bugs, but assign it to me to verify the fix.

For example, the fix for this bug is #224 . It is merged - but not yet verified on my OSP-AWS environment.

[2020-07-27 23:49] pinikomarov commented on #211
@manosnoam your dowsnstream CI is already running the lighthouse service discovery tests
:
08:55:04 [discovery] Test Service Discovery Across Clusters when a pod tries to resolve a service in a remote cluster
08:55:04   should be able to discover the remote service successfully
08:55:04   /go/src/github.com/submariner-io/submariner-operator/vendor/github.com/submariner-io/lighthouse/test/e2e/disco

[2020-07-27 23:49] pinikomarov commented on #211
so seeing that we have what we need , I'm closing this

[2020-07-28 12:24] aswinsuryan opened #226 "Add "Ready" status in ServiceExport"
Currently, Lighthouse does not support  kubectl/oc wait as it does not populate ready status.(https://github.com/submariner-io/submariner/issues/640)

oc wait --timeout=3m --for=condition=ready serviceexport  "nginx-cl-b"

This shall be populated when the service is exported as below.

  - type: Ready
    status: "True"
    lastTransitionTime: "2020-03-30T01:33:51Z"

[2020-07-30 11:19] danibachar commented on #114
On it 👍

[2020-08-02 10:01] manosnoam commented on #211
@pinikomarov  thanks for looking into it.
The only drawback of it is that our junit report, which is generated by `go test` command (and not by `subctl verify`), will not include the results of servicediscovery.

I think we should still add service-discovery repo to our go test command.

[2020-08-03 09:20] aswinsuryan opened #233 "Create EnpointSlices for a Service"
An endpointSlice needs to be created for each HeadlessService in Cluster.

- The endpoint slice shall be the same namespace as the service
- It should have a naming convention to avoid any conflict with other cluster endpoint slices.
- It should have the owner set to lighthouse agent.

[2020-08-04 07:28] aswinsuryan opened #234 "Ligththouse should not return service-ip from a cluster which does not have healthy backend pods."
Lighthouse should remove the cluster-ip from the ServiceImport , if that cluster does not have any active backend pods. for the service.

[2020-08-04 07:37] skitt opened #235 "When a service is available in multiple clusters, DNS apparently only returns one"
In a setup with two clusters, both exporting the same service, the imports are synchronised:

[code]

(on the broker cluster) but `dig` only ever returns one of the IP addresses — the first one to be exported in this case.

[2020-08-04 07:39] sridhargaddam commented on #235
@skitt @mangelajo @nyechiel This should be fixed via the following right - https://github.com/submariner-io/lighthouse/issues/114

[2020-08-04 08:33] skitt commented on #235
Yes, it should!

[2020-08-04 10:46] sridhargaddam opened #236 "DNS resolution is very erratic sometimes"
**Deploy three KIND clusters (you can use submariner repo and execute "make clusters")**
1. subctl deploy-broker --kubeconfig output/kubeconfigs/kind-config-cluster1 --service-discovery
2. subctl join --kubeconfig output/kubeconfigs/kind-config-cluster2 --clusterid cluster2 --disable-nat --version devel ./broker-info.subm --cable-driver libreswan
3. subctl join --kubeconfig output/kubeconfigs/kind

[2020-08-04 10:46] sridhargaddam commented on #236
CC: @aswinsuryan @vthapar

[2020-08-04 13:19] sridhargaddam commented on #236
**Behavior in a fresh setup (i.e., make clusters followed by the steps mentioned above)**

[sgaddam@localhost submariner]$ export KUBECONFIG=output/kubeconfigs/kind-config-cluster2
[sgaddam@localhost submariner]$ kubectl get svc -n submariner-operator
NAME                            TYPE        CLUSTER-IP       EXTERNAL-IP   PORT(S)             AGE
**submariner-lighthouse-coredns   ClusterIP   100

[2020-08-05 09:10] SteveMattar opened #241 "prune the plugin list"
The list of plugins doesn’t match the list in CoreDNS 1.5.2
review and prune as most of them are not really in use

[2020-08-18 05:25] aswinsuryan opened #252 "Lighthouse 0.6.0 Docs"
The Lighthouse Documentation needs to be updated with 0.6.0 changes

- Information about the HA support in the architecture guide
- Creation of Endpoint slices in architecture guide
- Round Robin load balancing in the architecture guide
- Headless services in Quick start guide and architecture guide
- Stateful sets in Quick start guide and architecture guide

[2020-08-18 09:15] vthapar commented on #234
Fixed by #242

[2020-08-19 08:38] mangelajo commented on #212
@manosnoam this is done, and ready for QE

[2020-08-20 07:48] mangelajo commented on #236
@aswinsuryan @vthapar added you guys so you can track it, looks important, but of course, I suspect you won't have cycles right now.

[2020-08-20 07:54] mangelajo commented on #234
Fixed by #242

[2020-08-20 07:55] mangelajo commented on #234
It was open for QE, I guess it makes sense to assign to @manosnoam when fixed an QE flag is set.

[2020-08-20 09:02] aswinsuryan commented on #252
Rename "supercluster" to "clusterset"
https://github.com/submariner-io/submariner-website/pull/215

[2020-08-20 09:08] aswinsuryan commented on #252
Round Robin
https://github.com/submariner-io/submariner-website/pull/250

[2020-08-24 08:15] mangelajo commented on #200
may be something like _service_._namespace_._cluster_.svc.supercluster*s*.local ?

This is something that we may need to standardize from U/S but I see the use cases, like connecting to remote k8s API, without traversing the public network, or without an internet-exposed public API endpoint, etc..

[2020-08-25 10:44] manosnoam commented on #212
Verified this on latest subctl 0.6.0:

submariner-lighthouse-agent pod log, shows a short output of:

[code]
I0825 05:24:34.145717       1 agent.go:162] Lighthouse agent syncer started

[2020-08-25 10:44] #212 closed

[2020-08-26 08:19] vthapar commented on #200
MCS API spec supports `cluster.service.namespace.svc.clusterset.local` for headless services. But with way we do discovery in lighthouse, we can easily support such use case for ClusterIP services too.

@davecaplinger Does that work for you? You will need to know `ClusterID` of the cluster, not domain.

[2020-08-27 12:40] manosnoam opened #271 "Test Headless Service in Subctl 0.6.0"
This is to test Headless Service on Submariner 0.6.0, as documented in:
https://github.com/submariner-io/submariner-website/pull/251

_Originally posted by @aswinsuryan in https://github.com/submariner-io/lighthouse/issues/252#issuecomment-678137477_

[2020-08-27 12:55] manosnoam commented on #271
Hi @nyechiel, @mangelajo, @tfreger, @pinikomarov
A good way to make sure we're not missing testing of new features, is to remember that when creating a Doc issue about a new feature in Submariner (like this #251) - also add a new Test issue for that feature.

We should keep this in "Team's mindset" for our agile workflow:
New Feature --> New Doc issue + New Test issue.

[2020-08-27 14:21] manosnoam commented on #271
@aswinsuryan
According to the Doc I should create the headless service with `--cluster-ip=''`, however this is not the correct syntax, and will fail:

[code]

[2020-08-27 19:15] manosnoam commented on #271
Apparently --cluster-set='None' is wrong too, we need to use --cluster-set=None (without single quotes)

[2020-08-28 10:29] manosnoam commented on #271
On my env with Globalnet - the Headless service could not be exported:
https://qe-jenkins-csb-skynet.cloud.paas.psi.redhat.com/job/Submariner-OSP-AWS/797/Test-Report/

[code]
@vthapar
We should update Website docs, and point to https://github.com/submariner-io/submariner/issues/732

[2020-08-28 13:40] tpantelis commented on #271
That's odd - it should have printed "_Headless Services not supported with globalnet yet_" as that is checked prior to :the global IP:

[code]

That indicates the service wasn't headless.

[2020-08-30 07:58] manosnoam opened #273 "Test Headless service discovery with Globalnet"
I opened this issue to track Subctl support for Lighthouse + Globalnet testing, when using Headless service.

On my env with Globalnet - the Headless service could not be exported:
https://qe-jenkins-csb-skynet.cloud.paas.psi.redhat.com/job/Submariner-OSP-AWS/797/Test-Report/

[code]
@vthapar
We should update Website docs, and point to https://github.com/submariner-io/submariner/issues/732

_Origi

[2020-08-30 15:38] manosnoam commented on #234
@aswinsuryan Can you provide reproduction steps for this scenario to verify ?

[2020-08-31 09:43] aswinsuryan commented on #234
A service shall be deployed in two clusters and reduce the replicas in one of the service  to zero and check if the clusterIP is that of the other one which has active backend pods and if the service can be accessed using it.

[2020-08-31 09:55] manosnoam opened #274 "Exporting headless service - Host could not be resolved"
This issue is related to #271

I've installed Submariner version: v0.6.0-1-gcb7275d with service-discovery (but on non-overlapping clusters cidrs, and without Globalnet), and exported a headless service - but it's DNS `nginx-cl-b.test-submariner-headless.svc.clusterset.local` could not be resolved, even after 3 minutes:

[code]

Full test report:
https://qe-jenkins-csb-skynet.cloud.paas.psi.redhat

[2020-09-01 05:54] vthapar commented on #274
Please share the `ServiceImport` object for this service.

[2020-09-01 12:50] manosnoam commented on #274
Up until now I used to only `describe multiclusterservices --all-namespaces`.
I'll add serviceexports and serviceimports for future tests runs.

In general, I noticed that Lighthouse CRD "serviceexports.lighthouse.submariner.io" does not always exist,
unlike "serviceimports.lighthouse.submariner.io".

Which of the following CRDs I should expect to see, and when?
(all the times, only when using --s

[2020-09-01 12:59] skitt commented on #274
Strictly speaking, you should only rely on `ServiceImports` and `ServiceExports`, and only when using `--service-discovery` (but that’s now the default). Don’t look at the other two CRDs.

[2020-09-02 13:21] manosnoam commented on #274
This issue has been resolved now, probably with the fix of devel images https://github.com/submariner-io/submariner-operator/pull/666

[2020-09-02 13:21] #274 closed

[2020-09-02 13:50] skitt opened #276 "Ensure Lighthouse CoreDNS metrics are integrated"
OpenShift’s default configuration includes CoreDNS metrics, but the Lighthouse CoreDNS server isn’t included. We should configure the cluster so that it is.

[2020-09-02 14:15] #233 closed

[2020-09-06 06:44] nyechiel commented on #78
@vthapar @aswinsuryan is there anything that needs to be done here, or can we consider it done at this point?

[2020-09-06 06:48] nyechiel commented on #114
@manosnoam @pinikomarov code is node, ready for testing

[2020-09-06 06:51] nyechiel commented on #235
https://github.com/submariner-io/lighthouse/issues/114 is merged, ready for testing

[2020-09-06 06:52] #252 closed

[2020-09-07 06:50] vthapar opened #286 "Allow custom domains"
MCS Spec uses `clusterset.local` as default domain for multicluster services. But there are use cases where a user may want to use a custom domain instead.

Since in lighthouse zone configuraiton is a deployment config, this change needs to be implemented in Operator +  Helm .

[2020-09-07 06:54] vthapar opened #287 "ServiceExport conflict resolution"
When a Service is exported from multiple clusters, there can be conflicts between them. e.g. `serviceA` might be of type `ClusterIP` in `cluster1` but `Headless` in `cluster2`. Currently we don't have any means to detect and resolve such conflicts.

A solution must be able to do the following:
1. Detect there is a conflict.
2. Resolve conflict based on resolution strategy as described in MC S spec

[2020-09-07 07:20] sridhargaddam commented on #215
@vthapar If this issue targets only non-globalnet use-cases, can you please open a new issue for Globalnet use-case so that we don't miss it. Thanks.

[2020-09-07 07:50] vthapar opened #288 "E2E for StatefulSets"

[2020-09-07 08:19] aswinsuryan commented on #78
@nyechiel We have a few more items that we have added in 0.7.0 project board. And given that we are now very close to the upstream proposal, we are also thinking if we could add a mode (like --kubeproxy) which would make it exactly as in the proposal and can be consumed when the kube-proxy changes are ready.

So I think, we can keep this open until we finish of these tasks

[2020-09-07 10:00] aswinsuryan opened #289 "Remove domain "supercluster.local""
The "supercluster.local" domain shall be removed and from 0.7.0 only "clusterset.local" needs to be supported.

[2020-09-07 14:48] manosnoam commented on #235
@skitt  Can you tell me how to reproduce ?

@tpantelis maybe we should add this test to E2E ?

[2020-09-07 14:51] manosnoam commented on #114
@vthapar  Can you tell me how to reproduce ?

@nyechiel I think we should add this test to E2E.

[2020-09-07 14:53] manosnoam commented on #234
@aswinsuryan  Can you tell me how to reproduce ?

@nyechiel I think we should add this test to E2E.

[2020-09-08 11:19] aswinsuryan commented on #234
Do these steps mentioned in above comment [1] work for you?

[1] https://github.com/submariner-io/lighthouse/issues/234#issuecomment-683677761

[2020-09-09 07:53] vthapar commented on #234
It is already part of E2E. If replicaset is 0, we don't return IP of that service.

[2020-09-09 08:19] aswinsuryan commented on #203
will be covered by https://github.com/submariner-io/lighthouse/issues/288

[2020-09-09 08:19] #203 closed

[2020-09-09 20:33] #288 closed

[2020-09-17 05:52] dependabot-preview[bot] opened #302 "Dependabot can't resolve your Go dependency files"
Dependabot can't resolve your Go dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/submariner-io/update-logs/47748123).

[2020-09-18 05:54] #302 closed

[2020-09-21 15:05] #234 closed

[2020-09-22 12:54] skitt opened #305 "Once we require Kubernetes 1.19, switch to metav1.Condition"
ServiceExport defines its own condition type, with a comment indicating

[code]

This will be possible on Kubernetes 1.19 (and will entail requiring 1.19+).

[2020-09-23 03:16] ssider opened #306 "submariner-lighthouse-agent cannot running"
submariner-lighthouse-agent cannot running, it restarts all the time, and its logs show belows:

# kubectl -n submariner-operator logs -f submariner-lighthouse-agent-6695d59ccb-dnhfm
+ trap 'exit 1' SIGTERM SIGINT
+ LIGHTHOUSE_VERBOSITY=1
+ '[' '' == true ']'
+ DEBUG=-v=1
+ exec lighthouse-agent -v=1 -alsologtostderr
I0923 03:09:57.759822       1 main.go:34] AgentSpec: {zmx submariner-operator fal

[2020-09-28 07:18] vthapar commented on #306
@ssider  are other submariner components `submariner-engine` etc. getting this error too? Can you provide details on steps followed for installation [helm vs operator], version of submariner, if operator then version of subctl etc.

[2020-09-29 06:02] ssider commented on #306
using  subctl 0.6 and 0.6.1 have the same problems。l used kubeamd 1.8.4 to install kubernetes 1.8.4 version in local environment，and use subctl install submariner and then the submariner-lighthouse-agent restarted all the time,and its logs shows like above.
submariner-engine  didnot shows ant errors, but l find the two clusters have the same public ip route。l donnot know ifnot this factor  result

[2020-09-29 09:45] vthapar commented on #289
Deployment in operator addressed by https://github.com/submariner-io/submariner-operator/pull/709

[2020-09-29 11:24] aswinsuryan opened #311 "Add clusterIPs to ServiceImport Spec.IP for ClusterIP services"
Add clusterIPs to ServiceImport Spec.IP for ClusterIP services, this will help in removing it from ServiceImport status and align with upstream proposal.

[2020-09-29 14:22] tpantelis commented on #216
bump

[2020-09-29 15:17] #63 closed

[2020-10-01 13:30] davecaplinger commented on #200
@vthapar - I don't think I understand how `cluster.service.namespace.svc.clusterset.local` would apply.  Can you provide an example fqdn to access a specific service in a specific namespace in a specific (remote) cluster even if that namespace exists in the local cluster?

[2020-10-01 14:56] nyechiel commented on #216
@vthapar @aswinsuryan  is this something you are looking at?

[2020-10-03 15:38] danibachar commented on #235
@manosnoam Just to clarify - Each DNS query (i.e dig) should return a different IP (i.e each time a different clusterIP).
BTW - @skitt @vthapar - How is the cache working here? Does CoreDNS offer a cache for DNS queries? Is it possible that the CoreDNS will use some caching, will not pass the request to Lighthouse as it found an older response, and will return the same IP as the last request?

[2020-10-03 15:40] danibachar commented on #114
@manosnoam see - [this issue](https://github.com/submariner-io/lighthouse/issues/235)

[2020-10-06 14:41] #152 closed

[2020-10-07 11:57] #286 closed

[2020-10-07 14:40] nyechiel commented on #273
@manosnoam it's a valid bug, but we already have this tracked (https://github.com/submariner-io/submariner/issues/732) so I'd prefer if we close this for now.

[2020-10-08 06:41] manosnoam commented on #273
I think it's best to have a test issue like this one, for every feature
(like #732), so we can track the feature tests and verification as well.

On Wed, Oct 7, 2020 at 5:41 PM Nir Yechiel <notifications@github.com> wrote:

[2020-10-08 15:04] nyechiel opened #331 "Lighthouse: prefer the local cluster first, before routing to other remote clusters"
Today, for the use case where a single ClusterIP service is deployed to multiple clusters for redundancy or scale, the Lighthouse plugin uses a round robin selection, so that traffic will be eventually served by all clusters in the ClusterSet.

Ideally, routing should be optimized for some sort of cost metric (e.g look at complete Service Topology information and prioritize traffic local to zone,

[2020-10-08 15:08] aswinsuryan opened #332 "Remove endpoint Listener and use EndpointSlice for tracking healthy pods"
Lighthouse uses endpoint listener in a remote cluster to track healthy pods for clusterIP services. This shall be replaced with endpointslices distributed for clusterIP services

[2020-10-08 15:10] nyechiel opened #333 "Lighthouse: prefer the local cluster first before routing to remote clusters"
Today, for the use case where a single ClusterIP service is deployed to multiple clusters for redundancy or scale, the Lighthouse plugin uses a round robin selection, so that traffic will be eventually served by all clusters in the ClusterSet.

Ideally, routing should be optimized for some sort of cost metric (e.g look at complete Service Topology information and prioritize traffic local to zone,

[2020-10-08 17:04] #211 closed

[2020-10-08 18:02] aswinsuryan commented on #331
We have a weight which is assigned to zero and unused. The weight can be increased to a higher value for the local cluster and can use weighted RR to select the IP. The plugin currently does not have the awareness of the cluster which it is running. But I think we could get it from one of the Submariner CRD. This will be required to assign a higher weight.

[2020-10-09 10:49] nyechiel commented on #333
Duplicate of https://github.com/submariner-io/lighthouse/issues/331

[2020-10-09 10:49] #333 closed

[2020-10-09 12:54] danibachar commented on #331
Can I take this one?

[2020-10-09 15:21] nyechiel commented on #331
Sure, Daniel. Please sync with @aswinsuryan and @vthapar if you have any questions, but a PR is welcome.

[2020-10-11 09:37] #241 closed

[2020-10-12 04:29] vthapar commented on #332
I'd like to hold on to this for a while till we can confirm that all deployments using submariner are using endpointslice.

[2020-10-12 04:34] vthapar commented on #331
@danibachar We get local clusterid from gateway object here https://github.com/submariner-io/lighthouse/blob/master/pkg/gateway/controller.go#L175 and storing it in connection map. We can easily tweak the code here to handle it differently from remote endpoints.

[2020-10-12 04:36] vthapar commented on #306
@ssider Yeah, that is probably the issue then. You can look at logs of submariner-engine and they may have similar issues but doesn't go into error coz it likely doesn't validate access at startup. In lighthouse we try to check if we can access the resource on remote cluster or not.

[2020-10-12 12:12] aswinsuryan opened #336 "Use the MCS SIG APIs instead of our own"
Use the MCS SIG APIs instead of our own

[1]https://github.com/kubernetes-sigs/mcs-api

[2020-10-13 08:24] aswinsuryan commented on #226
This shall be done as a part of https://github.com/submariner-io/lighthouse/issues/336 as we will not be using LH specs once after we migrate to the upstream one.

[2020-10-13 08:24] #226 closed

[2020-10-13 13:01] nyechiel commented on #331
@danibachar we want to support this feature in our upcoming release (v0.8). Do you have cycles to work on this in the next few weeks?

[2020-10-13 14:09] #271 closed

[2020-10-13 14:14] manosnoam commented on #211
@pinikomarov
We're now running lighthouse ginkgo tests with ocp-multi-cluster-tester:

[code]

[2020-10-14 06:39] nyechiel commented on #78
This is done at this point. Last final bit is being tracked here: https://github.com/submariner-io/lighthouse/issues/336

[2020-10-14 06:39] #78 closed

[2020-10-14 06:43] nyechiel commented on #216
Done for Lighthouse, need to ensure that the Operator does not install the old CRDs.

[2020-10-14 10:13] danibachar commented on #331
@nyechiel Yep!
Plan to have a PR ready by the end of this weekend

[2020-10-14 10:34] manosnoam commented on #200
@davecaplinger  that's the documentation:
https://submariner.io/quickstart/openshift/service_discovery/#verify

I'll add a new issue to test it in our E2E.

[2020-10-14 10:37] manosnoam opened #339 "[E2E] Test remote services in a specific cluster explicitly"
Please add E2E test for remote services in a specific cluster explicitly.

That's the documentation:
https://submariner.io/quickstart/openshift/#verify

_Originally posted by @manosnoam in https://github.com/submariner-io/lighthouse/issue_comments/708315846_

[2020-10-14 10:42] manosnoam commented on #200
Opened test request: https://github.com/submariner-io/lighthouse/issues/339

[2020-10-14 10:42] #200 closed

[2020-10-14 10:45] manosnoam commented on #289
Verified in:
https://qe-jenkins-csb-skynet.cloud.paas.psi.redhat.com/job/debug_job/559/Test-Report/

[code]

[2020-10-14 10:45] #289 closed

[2020-10-14 11:47] manosnoam opened #340 "[E2E] Test service DNS on mutiple clusters returns diffrent IPs (Round Robin)"
Add test in E2E:
When exporting same service name (with same DNS) on multiple clusters - It should return a different IP each request, according to the clusterIP (and Round Robin algorithm).

_Originally posted by @danibachar in https://github.com/submariner-io/lighthouse/issue_comments/703122297_

[2020-10-14 11:49] manosnoam commented on #235
Opened test request:
https://github.com/submariner-io/lighthouse/issues/340

[2020-10-14 11:49] #235 closed

[2020-10-14 11:49] manosnoam commented on #114
Opened test request:
https://github.com/submariner-io/lighthouse/issues/340

[2020-10-14 11:49] #114 closed

[2020-10-14 12:26] manosnoam commented on #215
I'm closing this and open a new E2E test request

[2020-10-14 12:26] #215 closed

[2020-10-14 12:27] manosnoam opened #341 "[E2E] test StatefulSets"
_Originally posted by @manosnoam in https://github.com/submariner-io/lighthouse/issue_comments/708367249_

[2020-10-14 20:26] danibachar opened #342 "Move Load Balancing logic out of map"
@vthapar @mangelajo @tpantelis @mkolesnik @skitt  - I would love to have your inputs regarding the following suggestion...

I think it is time to move the IP load balancing (selection) logic out of the map object.
As we are moving forward, I think we should have a dedicated entity that is in charge of it.

The map object should just return the relevant IPs from a specific DNS query, and the load b

[2020-10-17 14:30] #117 closed

[2020-10-20 18:43] aswinsuryan commented on #336
Install CRDs in operator.
https://github.com/submariner-io/lighthouse/issues/336

[2020-10-21 00:53] #311 closed

[2020-10-21 08:16] maayanf24 opened #349 "Lighthouse Prometheus Metrics"
Add prometheus metrics for lighthouse
See here for details: https://github.com/submariner-io/submariner/issues/678

- [x] Number of imported services, number of exported services (probably doable as a metric in the resyncer, see https://github.com/submariner-io/admiral/issues/136) - [#468](https://github.com/submariner-io/lighthouse/pull/468)

- [ ] Health of a service in a remote cluster ( the nu

[2020-10-21 09:11] aswinsuryan commented on #341
@manosnoam We have these tests to cover statefulsets in e2e, do you think we miss any scenario here?

[1] https://github.com/submariner-io/lighthouse/blob/master/test/e2e/discovery/statefulsets.go

[2020-10-21 09:12] aswinsuryan commented on #340
We have UT for this scenario but e2e is missing and we need to add it.

[2020-10-21 09:14] aswinsuryan commented on #339
I think we do not test this currently and we need add tests for this use case.

[2020-10-21 12:15] manosnoam commented on #341
Thanks @aswinsuryan looks good to me.

[2020-10-21 12:15] #341 closed

[2020-10-22 12:12] aswinsuryan commented on #342
Do we plan to check the g/w status here? Also with #351  we need to check if the service has active endpoints.

Sorry, I am not clear about this step , is this for ClusterIP services? EndpointSlice will just have the enpointips right?

Yes it complies with spec  with #351 we create endpointslices for clusterIp services too. The only this that would be different is we now just create one endpointsl

[2020-10-27 08:34] vthapar opened #355 "Use ClusterIP for local services"
When exported service is present in local cluster and globalnet is enabled, return the clusterIP of service instead of GlobalIP.

[2020-10-29 06:02] #332 closed

[2020-10-30 07:25] vthapar opened #358 "Use TargetRef instead of hostname for podnames"
Currently we're using `hostname` instead of `TargetRef`to determine hostname of pods in a stateful set. `hostname` is not always present as it depends on how labels are set, but `TargetRef` is always present.

[code]

So it is much more reliable and consistent to use `TargetRef`

[2020-10-30 12:49] #358 closed

[2020-11-06 14:39] #331 closed

[2020-11-08 13:44] nyechiel commented on #331
@manosnoam FYI

[2020-11-09 07:18] manosnoam opened #365 "[E2E] Test service-discovery prefers local cluster before remote cluster"
Please add E2E test for feature https://github.com/submariner-io/lighthouse/issues/331

[2020-11-09 07:19] manosnoam commented on #331
Thanks @nyechiel
Added E2E request: https://github.com/submariner-io/lighthouse/issues/365

[2020-11-09 08:01] ssider commented on #306
but it isnot report the access problems, it cannot connect to the broker cluster, and it the version 0.7.0 have the same probelms. it test it in local area network, and the whole clusters ( it have 3 clusters) have the same public ip, is it affect it ?

[2020-11-09 09:35] nyechiel commented on #365
@vthapar @danibachar

[2020-11-09 18:33] nyechiel opened #366 "Traffic is routed in a round-robin fashion, even tough a Service is available in the local cluster"
**What happened**:

When trying to test https://github.com/submariner-io/lighthouse/pull/343 locally with kind, I still see a round-robin behavior.
I deployed and exported a ClusterIP service with the same name and with the same namespace across clusters cluster2 and cluster3. I was expecting a pod on a certain cluster to always be serviced by its local cluster, but I still see round-robin happeni

[2020-11-10 15:26] nyechiel commented on #366
This turned out to be an issue with my local testing environment. While Submariner was using code from "devel", Lighthouse was still pulling v0.7.0 images so the code was just not there.

/cc @danibachar @vthapar

[2020-11-10 15:26] #366 closed

[2020-11-11 16:47] rastislavs opened #368 "ServiceGlobalIPUnavailable issue with globalnet enabled"
**What happened**:
I joined 2 clusters into a topology with globalnet enabled. In one of them, I created a deployment, exposed it via ClusterIP service and exported it via `subctl export`. The generated ServiceExport's status says `Service doesn't have a global IP yet`. The ServiceImport in the other cluster is not created.
[code]

**What you expected to happen**:
Status of the ServiceExport OK, S

[2020-11-11 16:49] #368 closed

[2020-11-12 10:35] skitt opened #369 "Add a Lighthouse-specific upgrade test"
The current upgrade test only checks that the cluster is functional after the upgrade, it doesn’t check whether changes made to the cluster are preserved by the upgrade. This affects Lighthouse in particular since services are exported explicitly.

We need to enhance the upgrade test to verify that:

* a service which is exported before the upgrade is still accessible afterwards
* a service which

[2020-11-15 23:02] pinikomarov commented on #339
@manosnoam the links are broken , can you repost them ?

[2020-11-16 15:12] manosnoam commented on #339
@pinikomarov
I've updated the comment. Please also note that there might be E2E test already:
https://github.com/submariner-io/lighthouse/blob/b37a1cbd457799e06de94d27a9adf28dcb10a377/pkg/serviceimport/map_test.go#L135

Please check if that indeed tests this $SUBJECT.

[2020-11-16 15:26] manosnoam commented on #365
@pinikomarov  please see the new tests that @vthapar is adding:
https://github.com/submariner-io/lighthouse/pull/356/files#diff-ff78d07fd1c06414d1a350b9af9c6300bb3bdba664ec1dc257d7b9108dcb72b7R529

[2020-11-16 17:08] tpantelis opened #371 "Sync ServiceImport locally first"
**What happened**:

Currently, when a `ServiceExport` is created, the resulting `ServiceImport`  is synced to the broker first which subsequently creates it locally. This means the if the broker is unavailable, the `ServiceImport` is  not created locally.

**What you expected to happen**:

We should create the `ServiceImport` locally first then sync to the broker.

[2020-11-23 08:11] skitt commented on #305
This is still relevant.

[2020-11-23 14:02] nyechiel commented on #216
@vthapar @skitt is this being worked on?

[2020-11-23 14:26] skitt commented on #216
Yes, I’m working on it.

[2020-11-23 22:28] pinikomarov commented on #365
Hi @vthapar ,
I would like to create a test create plan for this e2e test :
- create service (local and non local) :
https://github.com/submariner-io/lighthouse/blob/6c2ff9e0c96dbc2c5d0346eb0f9fcf7f4c3ea253/test/e2e/framework/framework.go#L64

- try ping or service access of some kind
https://github.com/submariner-io/lighthouse/blob/6c2ff9e0c96dbc2c5d0346eb0f9fcf7f4c3ea253/test/e2e/framework/frame

[2020-11-24 08:02] #216 closed

[2020-11-24 08:53] sriharshaj70 opened #385 "In ServiceImports include port number(s) of the services"
**What would you like to be added**:
Currently, ServiceImports populated by submariner only includes IP addresses of the services.
However it would be good to include even the Port number(s) of services.
Port numbers are already part of the ServiceImport objecgt.

**Why is this needed**:
I am trying to see if we can somehow integrate OSM (openservice-mesh by Microsoft) with Submariner.
OSM `learns

[2020-11-24 09:02] sriharshaj70 opened #386 "ServiceImports do not automatically re-appear if a service goes down and comes back up"
**What happened**:
Here is the sequence :
1. Service is up and running
2. Do a subctl service export
3. Check corresponding ServiceImport is created
4. Bring down the Service
5. Bring up the service

**What you expected to happen**:
After (5), I expect the ServiceImport to be re-created automatically.
However, unless I delete the ServiceExport and re-recreate again, I don't see ServiceImport being

[2020-11-24 12:51] tpantelis commented on #386
I assume in step 4 by "_Bring down the Service_" you mean you deleted it. In this case we delete the `ServiceImport` but the `ServiceExport` remains.  @vthapar this goes back to the discussion of whether we should delete the `ServiceExport` on service deletion. We would have to also handle service creation and recreate the `ServiceImport`  if a `ServiceExport` exists.

[2020-11-30 07:16] nyechiel commented on #236
@aswinsuryan @vthapar is there anything we need to do or further investigate here?

[2020-11-30 13:23] aswinsuryan commented on #236
We need to verify the issue is still there as a lot changed in this  area. I will test it with the RC and update.

[2020-12-01 19:03] #355 closed

[2020-12-01 19:03] #365 closed

[2020-12-03 13:32] sridhargaddam opened #398 "AWS/OCP: Discovery tests failing with Submariner Globalnet env"
**What happened**:
When e2e is run on Submariner Globalnet deployment on AWS/OCP, LH tests are failing.

[discovery] Test Service Discovery Across Clusters when there are active pods for a service in only one cluster
  should not resolve the service on the cluster without active pods
  /go/src/github.com/submariner-io/submariner-operator/vendor/github.com/submariner-io/lighthouse/test/e2e/discover

[2020-12-03 13:35] sridhargaddam commented on #398
While e2e tests were running, the pods were crashing with the following error

[code]

[2020-12-03 17:51] nyechiel commented on #236
@aswinsuryan any update on this?

[2020-12-04 01:50] ssider commented on #306
@vthapar

[2020-12-04 05:52] vthapar commented on #398
This was caused by bug in nginx stable-alpine image which we use for Lighthouse E2E. It has now been fixed https://github.com/nginxinc/docker-nginx-unprivileged/commit/87a2ae3deb137977cd3952b80bb5e499b8e3376c

[2020-12-07 11:12] pinikomarov commented on #365
@tpantelis hey why was this closed ? I was planning to work on it ?

[2020-12-07 11:28] aswinsuryan commented on #236
Verified the bug in  Submariner Project v0.8.0 in Kind and the issue was not seen. The DNS resolution was working fine even after waiting for 30 minutes after the shutdown of the gateway node.

[2020-12-07 11:28] #236 closed

[2020-12-07 12:10] skitt commented on #365
@vthapar added an E2E test for this in https://github.com/submariner-io/lighthouse/pull/356.

[2020-12-07 13:33] vthapar commented on #386
@tpantelis I think would be better to recreate ServiceImport on Service creation than deleting ServiceExport, which is a user created object. Plan was always to support this use case, but wanted to have some cache for ServiceExports available. Making an API call to check ServiceExport on every service creation won't scale well.

[2020-12-07 14:48] tpantelis commented on #365
I didn't explicitly close this. It was auto-closed due to #356 being closed which was linked to this one.

[2020-12-07 22:09] pinikomarov commented on #365
ok thanks

[2020-12-08 11:31] #369 closed

[2020-12-08 12:13] #371 closed

[2020-12-10 09:25] aswinsuryan commented on #306
@ssider If the clusters have overlapping IP address, you need to enable global net. But headless service does not work with global net right now. Since it is a test setup, would be better to have clusters with non-overlapping ips to try all features.

You could also deploy in kind  to get a feel of things

https://submariner.io/getting-started/quickstart/kind/

[2020-12-11 14:32] tpantelis commented on #287
bump

[2020-12-13 10:12] pinikomarov opened #406 "Lighthouse E2E Failed to find pods for app nginx-ss"
https://qe-jenkins-csb-skynet.cloud.paas.psi.redhat.com/job/Submariner-OSP-AWS-Globalnet/39/#showFailuresLink

Stacktrace

/home/jenkins/go/src/github.com/submariner-io/lighthouse/test/e2e/discovery/statefulsets.go:20
Failed to retrieve ServiceExport. ServiceExportCondition Status is False
Unexpected error:
    <*errors.errorString | 0xc00042c640>: {
        s: "timed out waiting for the condition

[2020-12-13 11:19] pinikomarov commented on #406
duration past : two days

[2020-12-13 23:31] pinikomarov commented on #406
from the logs :

src:
https://qe-jenkins-csb-skynet.cloud.paas.psi.redhat.com/job/Submariner-OSP-AWS-Globalnet/39/artifact/Submariner-OSP-AWS-Globalnet_Tests_13122020_0743.tar.gz / subm_pods.log

2020-12-13T07:37:35.280544044Z E1213 07:37:35.280432       1 ipam.go:216] service e2e-tests-discovery-gfc7z/nginx-ss requeued 2 times
[..]
       1 ipam.go:216] service e2e-tests-discovery-gfc7z/nginx-ss

[2020-12-13 23:47] pinikomarov commented on #406
@manosnoam on the other job that failed :
https://qe-jenkins-csb-skynet.cloud.paas.psi.redhat.com/job/Submariner-OSP-AWS-Globalnet/38/Test-Report/

I see :

1)

• Failure [400.969 seconds]
[discovery] Test Service Discovery Across Clusters
/home/jenkins/go/src/github.com/submariner-io/lighthouse/test/e2e/discovery/service_discovery.go:22
  when there are active pods for a service in only one clust

[2020-12-14 10:12] manosnoam commented on #406
This should be fixed by https://github.com/submariner-io/shipyard/pull/382

[2020-12-14 11:00] manosnoam commented on #406
@vthapar Hi, the new [pr 382](https://github.com/submariner-io/shipyard/pull/382) does not fix e2e ngnix issue:
[code]

[2020-12-15 18:30] nyechiel commented on #336
@manosnoam is there anything you need to test/automate before we can consider it done? AFAICT, this works as excepted, and E2E/subctl are using the new MCS CRDs now.

[2020-12-15 18:34] nyechiel commented on #406
@manosnoam @pinikomarov 0.8.0-rc1 is tagged now and includes all the right fixes. I ran E2E with OCP on AWS and don't see any failures.

[2020-12-16 09:27] manosnoam commented on #336
@aswinsuryan How can I validate it ?

[2020-12-16 09:47] skitt commented on #336
@manosnoam see the Lighthouse-specific upgrade test, https://github.com/submariner-io/lighthouse/pull/400 — it checks that the MCS CRDs are used.

[2020-12-16 10:35] aswinsuryan commented on #336
+1

[2020-12-17 19:13] nyechiel opened #418 "`serviceimport` and `serviceexport` point to the old CRDs"
**What happened**:

After upgrading a cluster from v0.7 to v0.8 with a previously exported service, I noticed that Lighthouse converted the `ServiceExport` to the MCS CRD as expected, but it looks like `serviceimports` and `serviceexports` still point to the old (Lighthouse) CRD:

[code]

It looks like both the new and old CRDs use the same plural/singular:

[code]

What's more interesting: even a

[2020-12-18 08:52] vthapar commented on #418
Not sure we can do anything about this, esp in case of upgrade because older CRD was installed first. Until we stop installing old CRDs altogether, this will persist. Easier workaround is to use the shorthands `svcim` and `svcex` for the new official CRDs.

[2020-12-18 08:54] aswinsuryan commented on #418
This seems to be more a Kubernetes issue while cleaning up CRD,

[1]https://github.com/kubernetes/kubernetes/issues/60538

[2020-12-21 07:53] #406 closed

[2020-12-21 08:04] manosnoam commented on #336
On my env I use `oc get serviceexport` and it prints:
[code]

btw, with `oc describe serviceexport` I get very useful info now:
[code]

[2020-12-21 08:04] #336 closed

[2020-12-23 07:29] #418 closed

[2020-12-23 11:21] nyechiel commented on #340
@aswinsuryan as discussed, this particular test will need to be skipped if 3 clusters are not available.

[2020-12-23 17:32] manosnoam commented on #273
In 0.8.0 it's not supported yet.

[2020-12-23 17:45] nyechiel commented on #273
Indeed, but this was not scoped for 0.8.1 either. Will revisit in 0.9.0 planning.

[2020-12-28 15:56] #342 closed

[2021-01-04 11:04] pinikomarov opened #426 "CI lighthouse test fails on: :get_running_pod_by_label 'app=submariner-lighthouse-agent'"

[2021-01-04 11:10] pinikomarov commented on #426
CI job :
https://qe-jenkins-csb-skynet.cloud.paas.psi.redhat.com/job/Submariner-OSP-AWS-No-Overlapping/132/

job test results :
https://qe-jenkins-csb-skynet.cloud.paas.psi.redhat.com/job/Submariner-OSP-AWS-No-Overlapping/132/Test-Report/

failure is in the results :

🎩︎[2021-01-03 09:07:41]
 Testing Lighthouse agent status on pkomarov-cluster-a

 [/home/jenkins/workspace/Submariner-OSP-AWS-No-Ove

[2021-01-04 11:12] pinikomarov commented on #426
This env still has a live env , (for a couple of hours from now )

access to the  pkomarov-cluster-a is at kubeconf in :
https://qe-jenkins-csb-skynet.cloud.paas.psi.redhat.com/job/Submariner-OSP-AWS-No-Overlapping/132/artifact/Submariner-OSP-AWS-No-Overlapping_Tests_03012021_0817.tar.gz

[2021-01-04 11:12] pinikomarov commented on #426
I'll update once I debug this more...

[2021-01-04 12:10] vthapar commented on #426
Getting following error trying to access resources on cluster-a

[code]
On cluster-b which has proper kubeconf, it works fine
[code]

[2021-01-04 13:12] pinikomarov commented on #426
Thanks @vthapar I'll try to get access to the aws cluster (hope the env was not deleted by now) and report back

[2021-01-04 13:19] pinikomarov commented on #426
update : This was an old  env without aws access (cluster got deleted ) I'll reopen if this repeats

[2021-01-04 13:19] #426 closed

[2021-01-06 08:46] #339 closed

[2021-01-07 18:35] #340 closed

[2021-01-11 14:17] aswinsuryan opened #431 "E2E : "PodAvailabilityMutliClusterTest" is not valid after Local cluster is prefered"
**What happened**:

Since the local cluster is always preferred the  "PodAvailabilityMutliClusterTest" does not validate the scenario which tries to resolve a service present in Cluster A and B, when tried from cluster A.

**What you expected to happen**:

The availability should be checked correctly.

**How to reproduce it (as minimally and precisely as possible)**:

Run e2e

**Anything else we n

[2021-01-11 14:39] nyechiel commented on #287
@vthapar are you still planning to look into this?

[2021-01-12 10:43] #431 closed

[2021-01-13 09:10] #386 closed

[2021-01-16 22:46] tpantelis commented on #214
bump

[2021-01-22 10:07] skitt commented on #305
This is still relevant.

[2021-01-22 10:09] skitt commented on #305
Actually no, https://github.com/submariner-io/lighthouse/pull/437 means this is no longer needed — we no longer define `ServiceExport`.

[2021-01-22 10:09] #305 closed

[2021-01-24 07:38] nyechiel commented on #385
bump

[2021-01-24 14:47] nyechiel commented on #398
Closing as per the comment from @vthapar. Please re-open if this is still relevant.

[2021-01-24 14:47] #398 closed

[2021-01-24 14:49] nyechiel commented on #306
@ssider please re-open and provide more info if this is still relevant.

[2021-01-24 14:49] #306 closed

[2021-01-28 17:53] vthapar opened #441 "Don't rely on Gateway for localClusterId in coredns"
`lighthouse-coredns` currently relies on `Gateway` object to determine localClusterID. In lighthouse-only deployments [AKS, GKE etc.] Gateway object is not available, which ends up breaking localClusterID by setting it to empty.

Instead of gateway, use ENV Variable, similar to lighthouse-agent.

[2021-01-29 14:06] #441 closed

[2021-02-01 06:58] vthapar commented on #385
@sriharshaj70 I'm targeting to get this done in current sprint. I had a few questions that I'd like to discuss with you. Reach out to me in slack when you can.

[2021-02-03 13:34] #385 closed

[2021-02-03 14:08] #276 closed

[2021-02-03 15:50] nyechiel commented on #276
@skitt @maayanf24 before we close this, is there anything we need to document here?

[2021-02-04 17:44] skitt commented on #276
I don’t think so, the metrics just show up with the other CoreDNS metrics...

[2021-02-23 17:57] jfinch97 opened #470 "Service discovery between redundant clusters on local LAN"
Hello, this is an issue / support request originating from a [post](https://groups.google.com/g/submariner-users/c/mSyku-V5ork) to the Submariner-users mailing list, which was [requested to be forwarded as an issue to this repo](https://groups.google.com/g/submariner-users/c/mSyku-V5ork/m/7u52lybfCgAJ).

The original issue is that when running subctl verification suite, I am consistently getting 7

[2021-02-23 18:36] nyechiel commented on #470
/cc @aswinsuryan

[2021-02-23 19:28] sridhargaddam opened #471 "Service Discovery e2e tests in Globalnet jobs are failing in CI"
**What happened**:
Service Discovery e2e tests in Globalnet jobs are failing in CI

[2021-02-24 22:29] #471 closed, assigned to sridhargaddam

[2021-02-25 05:56] vthapar commented on #470
@jfinch97

1. Which of the two clusters did you install broker in?
2. When you delete serviceexports, can you share output of `kubectl get svcim -A` on both clusters? If ServiceImports are not deleted at the time, take output again after a couple minutes.

[2021-02-25 13:11] jfinch97 commented on #470
@vthapar
Broker is installed on clusterid=green (192.168.1.72 host IP, 10.71.x.x pod cidr, 10.72.x.x service cidr)

I will try the suggested kubectl comand, but when I try to delete serviceexports, it seems to have no effect.  I am not sure I am deleting serviceexports correctly- do you have any suggestion (my online searches haven't proven helpful).  Also, I wasn't sure which CRD to delete, servi

[2021-02-25 16:20] nyechiel opened #475 "Service Discovery E2E failures with v0.8.1"
**What happened**:

When testing Submariner with v0.8.1 and running automated verification with `subctl verify`, several Discovery tests are failing consistently. The Lighthouse deployment seems to be healthy, and manual tests (with both ClusterIP and headless services) work fine. I suspect that the issue is with the test suite itself.

**What you expected to happen**:

All tests to pass.

**How t

[2021-02-25 16:32] nyechiel commented on #475
@vthapar @aswinsuryan something seems wrong with our e2e suite with 0.8.1, can one of you take a look at this please?

[2021-02-25 18:01] aswinsuryan commented on #475
This looks similar to the issue lighthouse/issues/470 , where 7 tests are failing since the resource is not deleted. Maybe this has something to do with k8s version (both the issues reported use 1.20) since when I tried in the k8s 1.17 deployed with kind and installed with subctl- 8.1 , I did not see an issue.

[2021-02-25 18:28] nyechiel commented on #475
@aswinsuryan at least in my setup, deletion of a ServiceExport works as expected, and I see the affect immediately on the other cluster:

**cluster-a:**

[code]

**cluster-b:**

[code]

**cluster-a:**

[code]

**cluster-b:**

[code]

[2021-02-25 18:33] nyechiel commented on #470
This might be the same issue as https://github.com/submariner-io/lighthouse/issues/475

[2021-02-25 18:36] nyechiel commented on #470
`serviceexports.lighthouse` is deprecated (will be removed in 0.9); `serviceexport.multicluster` is being used.

[2021-02-26 01:55] jfinch97 commented on #470
@vthapar
Here are the outputs of `kubectl get svcim -A` after deleting "serviceexports.multicluster.x-k8s.io"
[code]
Results from the remote cluster (blue):
[code]
Edit- update... after 3 minutes or so I re-ran the `kubectl get svcim -A` command again and obtained this result.  Not sure if it is of consequence, but wanted to include.
[code]

[2021-03-01 04:35] aswinsuryan commented on #475
The endpoint slices are not getting deleted when the service is deleted. It should have been garbage collected since the owner of the EndpointSlice is ServiceImport which got deleted. But we have an issue in 0.8.1 code where the owner reference points to the old lighthouse ServiceImport where as the ServiceImport created is the new mcs one.

[1] https://github.com/submariner-io/lighthouse/blob/v0.

[2021-03-01 14:10] aswinsuryan commented on #475
Kubernetes 1.20 has changed the behaviour of the garbage collector when the parent and child are in different namespaces.

https://github.com/kubernetes/kubernetes/pull/92743

[2021-03-03 18:36] nyechiel commented on #349
@maayanf24 just a reminder to also update the docs with the newly added Service Discovery metrics

[2021-03-04 15:46] nyechiel commented on #470
This issue is now fixed in "devel": https://github.com/submariner-io/lighthouse/pull/480
@jfinch97 can you please try it out?

[2021-03-04 15:48] nyechiel commented on #475
devel: https://github.com/submariner-io/lighthouse/pull/480
release-0.8: https://github.com/submariner-io/lighthouse/pull/478

[2021-03-04 18:14] nyechiel commented on #475
I retested this using the latest `release-0.8` lighthouse-agent image, and can confirm that all tests are passing now. Note that due to https://github.com/submariner-io/submariner-operator/issues/1131 testing this involves a bit of manual work at the moment (changing the `imagePullPolicy` to "Always" to get the latest code).

[code]

[2021-03-04 21:08] jfinch97 commented on #470
Confirmed success!  Thank you!  All tests passing:

![image](https://user-images.githubusercontent.com/79532316/110030395-46b78580-7cfb-11eb-9f8e-765d0779f85e.png)
![image](https://user-images.githubusercontent.com/79532316/110030255-196ad780-7cfb-11eb-840b-0ad2b3a6f528.png)

[2021-03-04 21:13] #470 closed, assigned to aswinsuryan

[2021-03-09 21:41] #475 closed, assigned to aswinsuryan

[2021-03-21 15:51] #287 closed

[2021-03-24 10:41] manosnoam commented on #273
bump

[2021-03-31 22:04] #273 closed

[2021-04-14 01:48] dfarrell07 opened #504 "Helm jobs broke on last commit"
**What happened**:

It seems like the most recently merged PR broke the Lighthouse+Helm jobs.

In the flake finder, the jobs from 5 days and before were all passing:

https://github.com/submariner-io/lighthouse/actions/workflows/flake_finder.yml

https://github.com/submariner-io/lighthouse/actions/runs/731556462

The jobs 4 days and more recently are all failing in the same way:

https://github.co

[2021-04-19 13:07] dfarrell07 commented on #504
It seems this is actually exposing a deeper issue, as without this PR the Lighthouse jobs actually run with subctl, not Helm.

[2021-04-22 18:25] aswinsuryan opened #511 "Epic: Support SRV record in Lighthouse for exported services"
**What would you like to be added**:
Support SRV record in Lighthouse  for exported services

**Why is this needed**:
SRV records help in discovering services by describing the protocol/s and address of headless services.

- [x] [Enhancement proposal](#525)
- [x] [Support for SRV records](#526)
- [x] [Add e2e](#527)
- [x] [Update Docs](https://github.com/submariner-io/submariner-website/issues/510

[2021-04-25 10:24] raffaelespazzoli commented on #511
my use case, and it could be your test case, is to be able to deploy keycloak (RHSSO) across cluster with the infinispan DNS PING discovery mechanism configured (https://github.com/belaban/JGroups/blob/master/doc/manual/protocols.adoc#dns_ping), which essentially run an SRV query.

[2021-04-28 09:22] mkolesnik opened #512 "Run full E2E matrix only when "ready-for-testing""
**What would you like to be added**:
E2E test jobs take a long time to complete while the CI has a limited capacity to run concurrent jobs (currently 20 jobs across the entire *@submariner-io* organization.

As such, it would be better to run a default `make e2e` smoke test on each PR sync, and the full test matrix that we have today only when a "ready-for-testing" label is added to the PR.

In or

[2021-05-03 00:23] tpantelis commented on #214
bump

[2021-05-03 16:23] tpantelis commented on #504
The problem is that the helm jobs aren't deploying the LH components. Looking the helm install command executed by the jobs:

[lighthouse]$ [cluster2] helm --kube-context cluster2 install submariner-operator submariner-latest/submariner-operator --create-namespace --namespace submariner-operator  ...
-set broker.globalnet=false --set **submariner.serviceDiscovery=false** --set submariner.cableDriv

[2021-05-03 16:44] #504 closed, assigned to nobody

[2021-05-04 12:02] aswinsuryan commented on #511
The SRV records of the below formats shall be supported.

### Cluster IP Service

- \<portname\>.\<protocol\>.\<svc-name\>.\<svc-namespace\>.svc.clusterset.local -> will return the SRV record with the port number and domain name with matching port name and protocol from one of the joined clusters where the service is available. The clusters will be selected based on the Round Robin algorithm.

- \

[2021-05-07 05:03] aswinsuryan opened #525 "Enhancement proposal for Support SRV record in Lighthouse"
**What would you like to be added**:
Enhancement proposal for Support SRV record in Lighthouse for exported services
**Why is this needed**:
To cover the design aspects

[2021-05-07 05:06] aswinsuryan opened #526 "Support for SRV records"
**What would you like to be added**:
Support SRV record in Lighthouse for exported services

**Why is this needed**:
SRV records help in discovering services by describing the protocol/s and address of headless services

More details in: https://github.com/submariner-io/enhancements/blob/devel/lighthouse/srv-records.md

[2021-05-07 05:09] aswinsuryan opened #527 "Add e2e for SRV record support"
**What would you like to be added**:
Add e2e for SRV record support

**Why is this needed**:
To test the changes added as a part of SRV record

[2021-05-14 04:24] r-ricardo opened #535 "Failed to create lighthouse agent: cannot access the API server (lighthouse-agent pod don't start)"
**What happened**: I installed Submariner following the official documentation, but there is an error with the lighthouse-agent. Submariner was installed correctly using the subctl tool in two OpenShift clusters, no errors occur during installation, but the lighthouse-agent pod crash immediately after start in both clusters. The rest of the pods associated with Submariner operator are running with

[2021-05-16 11:32] tpantelis commented on #511
@Jaanki Why did you close this?

[2021-05-17 12:17] Jaanki commented on #511
Must have closed it mistakenly :)

[2021-05-20 09:32] #512 closed, assigned to mkolesnik

[2021-05-20 16:18] nyechiel commented on #512
@mkolesnik @dfarrell07 - should we document this in our dev guide?

[2021-05-26 09:37] #525 closed, assigned to aswinsuryan

[2021-05-26 09:41] nyechiel commented on #527
https://github.com/submariner-io/shipyard/pull/548 is merged, but more work is required

[2021-06-01 13:50] skitt opened #550 "Remove Dockerfile.dapper"
Following https://github.com/submariner-io/shipyard/pull/573, we would like to get rid of project-specific `Dockerfile.dapper` files.

Depends on https://github.com/submariner-io/shipyard/issues/575

[2021-06-01 14:55] vthapar opened #551 "Add GlobalIngressIP controller to Lighthouse Agent"
**What would you like to be added**:
Add GlobalIngressIP controller to Lighthouse Agent

**Why is this needed**:
To support (Globalnet v2)[https://github.com/submariner-io/submariner/issues/652] changes in Lighthouse

[2021-06-01 16:13] cwillia-ibm commented on #535
I am seeing the same exact problem in my cluster as well
Same environment:
Submariner 0.9.0
IBM Cloud w/ OpenShift 4.6.23

[2021-06-03 19:43] cwillia-ibm commented on #535
I tried another deployment using the devel subctl and am seeing this for the diagnose all

 ✓ Checking Submariner support for the Kubernetes version used in cluster "*******"
 ✓ The Kubernetes version meets Submariner's requirements

 ✓ Retrieving Submariner resource from "************"

 ✗ Checking Submariner support for the CNI network plugin in cluster "**********"
 ✗ The detected CNI network p

[2021-06-11 10:16] #526 closed, assigned to aswinsuryan

[2021-06-11 13:30] #551 closed, assigned to vthapar

[2021-06-14 12:27] vthapar opened #558 "Support Globalnet with Headless services"
**What would you like to be added**:
Add support for Globalnet + Headless services

**Why is this needed**:
Current Globalnet deployments don't support headless services due to technical limitations. But [Globalnet v2](https://github.com/submariner-io/submariner/issues/652) supports headless services. This require changes in Lighthouse too.

[2021-06-14 12:31] vthapar opened #559 "E2E changes for Globalnetv2"
**What would you like to be added**:
Modify E2E for globalnet v2, including new test cases for Globalnet+Headless services

**Why is this needed**:
Current E2E validates annotation on service instead of ingressIPs used by Globalnet v2. There are also no tests for Globalnet+Headless services.

[2021-06-18 10:50] aswinsuryan opened #565 "SRV record returning incorrect domain name for headless service"
The SRV record should return the full domain name for headless service.

Currently for SRV record of the format _port._protocol.svc.clusterset.local the cluster name is missing and we cannot reach the pod that domainName.

**What happened**:
Dig returns wrong Domain name
bash-5.0# dig SRV nginx-ss.default.svc.clusterset.local +short
0 50 8080 web-1.nginx-ss.default.svc.clusterset.local.
0 50 8080

[2021-06-18 12:24] #559 closed, assigned to vthapar

[2021-06-23 05:51] aswinsuryan opened #568 "Port conflict in aggregated ServiceImports for SRV records"
**What would you like to be added**:
Currently, the lighthouse does validate, if the ports configured for services in each cluster is identical. It just returns the records in round-robin logic. This request is to change the behaviour in the round-robin algorithm to ensure that it switches only between clusters having identical ports.

**Why is this needed**:
When a client requests for a DNS recor

[2021-06-24 11:23] #565 closed, assigned to aswinsuryan

[2021-06-25 09:27] #550 closed, assigned to nobody

[2021-07-01 06:31] #558 closed, assigned to vthapar

[2021-07-01 07:01] #527 closed, assigned to aswinsuryan

[2021-07-01 12:50] skitt opened #576 "Switch EndpointSlices to discovery.k8s.io/v1"
This will need to be done by the summer of 2022.

In K8s 1.20, discovery.k8s.io/v1 was added. v1beta1 will no longer be served starting with 1.25, so before that happens we need to migrate to /v1 (assuming we no longer need to support versions before 1.20).

This is also a blocker for the migration to CoreDNS 1.8.4 which relies on /v1.

[2021-07-03 13:27] tpantelis commented on #349
bump

[2021-07-04 13:21] tpantelis commented on #214
bump

[2021-07-04 14:30] nyechiel opened #577 "[submariner-io/lighthouse] Globalnet jobs are failing"
Globalnet jobs are failing in our Flake Finder:

https://github.com/submariner-io/lighthouse/actions/runs/997284328
https://github.com/submariner-io/lighthouse/actions/runs/995185348
https://github.com/submariner-io/lighthouse/actions/runs/991896166
https://github.com/submariner-io/lighthouse/actions/runs/999392128

[2021-07-05 13:58] #577 closed, assigned to vthapar

[2021-07-10 00:01] tarekesmail opened #582 "Resolve To Remote IP issue"
**What happened**:
After creating the example in user guide, the curl request failing for 5 times and success for 2 or 3
**What you expected to happen**:
I think there are some problem in connectivity
**How to reproduce it (as minimally and precisely as possible)**:
just follow up the user guide in submariner
**Anything else we need to know?**:

**Environment**:
- Submariner version (use `subctl v

[2021-07-28 05:42] #511 closed, assigned to aswinsuryan

[2021-08-04 10:14] aswinsuryan opened #593 "Service discovery e2e failing when cluster-id is long"
**What happened**:
[code]

The logs are showing this error

`E0804 09:28:50.215547       1 queue.go:104] Endpoints -> EndpointSlice: Failed to process object with key "e2e-tests-discovery-gs6px/nginx-headless": error creating &unstructured.Unstructured{Object:map[string]interface {}{"addressType":"IPv4", "apiVersion":"discovery.k8s.io/v1beta1", "endpoints":[]interface {}{map[string]interface {}{"a

[2021-08-04 11:43] tpantelis commented on #593
@sridhargaddam recently discovered this issue elsewhere as well and pushed PRs to limit the length to 63:

https://github.com/submariner-io/submariner-operator/pull/1518
https://github.com/submariner-io/submariner/pull/1511

[2021-08-04 11:46] vthapar commented on #593
It will not be enough. We create distributed objects like ServiceImport and Endpoint slices as combination of ClusterId, Service name and Service Namespace. Just adding a check for clusterId will not be enough. This is something that we've known and we need to document. Other option would be to not construct name of created objects from source objects and use a partial uuid for uniqueness.

[2021-08-04 11:49] aswinsuryan commented on #593
We could also consider using a hash of cluster-id+namespace, which ensures that length is within the limits

[2021-08-04 15:16] tpantelis commented on #593
I think UUID would be ideal or, better yet, use the K8s name generation functionality.

[2021-08-10 17:50] mkimuram opened #600 "External Network: Provide standard ways to consume lighthouse from external network"
**What would you like to be added**:
Standard ways to consume lighthouse from external network.

**Why is this needed**:
To use submariner for the external network use case, users will find it useful if they can resolve the DNS names inside the clusters from external network.

[2021-08-10 17:55] mkimuram commented on #600
This issue is to discuss how to provide such a feature. Ideas are as below.

Ideas:
(1) Directly access to lighthouse via global ingress IP
- Cluster side configuration:
  - Create service to expose lighthouse
[code]
  - Create ServiceExport to assign global egressIP for the service
[code]
  - Check the global egressIP
[code]
[code]

- Consumer side configuration:
  - Confirm that the dns name ins

[2021-08-10 18:32] mkimuram opened #601 "Provide a Stable Network ID for StatefulSets used with headless service"
**What would you like to be added**:
As described [here](https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/#stable-network-id), it is useful if each pod in Statefulset can be accessed via `web-{0..N-1}.nginx.default.svc.cluster.local` inside a single cluster. Similarly, for clusters with submariner and lighthouse, it will be useful if each pod in Statefulset can be accessed via

[2021-08-10 20:01] mkimuram opened #603 "Service without selector should be resolvable"
**What happened**:
Service without selector can't be resolved.

**What you expected to happen**:
Service without selector can be resolved.

**How to reproduce it (as minimally and precisely as possible)**:
- Deploy submariner with globalnet enabled
- Create service without selector, export the service, and try to resolve the service
[code]

**Anything else we need to know?**:

Service __with__ sel

[2021-08-10 20:20] mkimuram commented on #601
According to [the spec](https://github.com/submariner-io/enhancements/blob/devel/lighthouse/srv-records.md#headless-service), DNS name can be specified by using `<portname>.<protocol>.<svc-name>.<svc-namespace>.svc.clusterset.local` or `<portname>.<protocol>.<cluster-name>.<svc-name>.<svc-namespace>.svc.clusterset.local` formats with or without `<portname>` and `<protocol>` ommited.
Therefore, we

[2021-08-11 15:13] mkimuram commented on #601
Sorry. I found a description for this feature, [here](https://submariner.io/getting-started/quickstart/openshift/globalnet/#verify-statefulsets).

I confirmed that I can access to individual pod with `cluster-id` like `web-{0..N-1}.cluster-b.nginx.default.svc.clusterset.local`.

[code]
While it doesn't work without `cluster-id` like `web-{0..N-1}.nginx.default.svc.clusterset.local`.
[code]

Theref

[2021-08-11 16:49] skitt commented on #601
This is specified in the [multi-cluster services API](https://github.com/kubernetes/enhancements/tree/master/keps/sig-multicluster/1645-multi-cluster-services-api). Is that sufficient?

[2021-08-11 18:27] mkimuram commented on #601
Thank you for sharing the URL.
As you mentioned, it clearly describes this behavior:

And it is linked from https://submariner.io/getting-started/architecture/service-discovery/ -> https://github.com/kubernetes-sigs/mcs-api . Therefore, it will be sufficient.

Closing this issue.

[2021-08-11 18:27] #601 closed, assigned to nobody

[2021-08-17 17:42] sridhargaddam commented on #603
@vthapar @aswinsuryan is this use-case supported with LH?

[2021-08-19 13:08] mangelajo commented on #603
Can we test it with an EndpointSlice instead? may be it would work. I'm not sure on the internals of lighthouse in this are.

[2021-08-19 13:12] vthapar commented on #603
@sridhargaddam We currently don't support this use case and iirc you should be able to see corresponding error in ServiceExport status. We didn't support at the time coz didn't have a use case. Now that we do, can be easily done. Note that it would still require user to create Endpoint with some IP for it to work. And as @mangelajo pointed out, creating endpointslice manually should work as a work

[2021-08-19 13:19] mangelajo commented on #603
@vthapar do we still support "Endpoints" I don't see code about that in lighthouse.

[2021-08-19 13:28] aswinsuryan commented on #603
@mangelajo we currently create "Lighthouse EndpointSlices" from endpoint objects of service. Here we need to create these "Lighthouse EndpointSlices"  manually.

[2021-08-19 13:34] mangelajo commented on #603
hmmm, Where is the Endpoint read in lighthouse code?, I could not find that.

In the end if he creates the Endpoint manually, I think it's not different from automatically created endpoint.

[2021-08-19 13:36] vthapar commented on #603
@mangelajo We have this check in code before we create listener for Endpoints:

https://github.com/submariner-io/lighthouse/blob/devel/pkg/agent/controller/serviceimport.go#L124

[code]

[2021-08-19 14:04] mkimuram commented on #603
@vthapar

Thank you for your advice.

Manually creating endpointslice worked to point to the __Cluster IP__ by below way.
Next step will be to make it point to __endpoint address__, not to Cluster IP.
Will it be expected to work just to change the service to headless service or any other changes needed, like changing fields in the endpointslice?

[code]

[2021-08-19 14:52] vthapar commented on #603
@mkimuram In case of headless service, endpoint slice has IPs of pods backing the service. If any IP that you want it to return, will have to be added to endpointslice. ServiceIP rarely changes but pod IPs change more frequently. Based on your actual use case it may or may not be an issue. Note that for headlessservice you may also need to add pod hostname information to addresses. You can create

[2021-08-19 14:52] mkimuram commented on #603
Sorry. I noticed that we just need to change endpoint address to globalIngressIP for it.
That's what headless service with selector is doing.

[2021-08-19 17:37] mkimuram commented on #603
My use case for "service with selector" is the same to what is described [here](https://kubernetes.io/docs/concepts/services-networking/service/#services-without-selectors),  expect that it is in the multi-cluster context. Also, the use case for "headless service with selector" is the same to what is described [here](https://kubernetes.io/docs/concepts/services-networking/service/#without-selector

[2021-08-20 13:56] skitt opened #605 "Services are accessible even if their namespace doesn’t exist locally"
**What happened**:

In a two-cluster setup running Lighthouse (devel), I set up a namespace and service in cluster2, and exported it. The namespace didn’t exist in cluster1, but even so, the exported service was accessible.

**What you expected to happen**:

Given that the namespace containing the service doesn’t exist in cluster1, the service shouldn’t be imported there.

**How to reproduce it (a

[2021-10-08 06:24] #593 closed, assigned to aswinsuryan

[2021-10-08 20:38] danibachar commented on #605
@skitt - what would be the expected behavior in that case but that the DNS query specify the destination cluster (which is hosting the relevant namespace)?
For example
Service `s1` is in cluster `cluster1` on namespace `ns1`
Service `s2` is present on cluster `cluster2` which does not have namespace `ns1` deployed on.
It releases the following DNS query:
`cluster1.s1.ns1.svc.clusterset.local`

I'm

[2021-10-09 02:18] #535 closed, assigned to nobody

[2021-10-11 09:33] skitt commented on #605
See [the MCS API](https://github.com/kubernetes/enhancements/tree/master/keps/sig-multicluster/1645-multi-cluster-services-api#importing-services):

So `cluster2` shouldn’t import `s1`, and its DNS server shouldn’t be aware of it, so looking up `cluster1.s1.ns1.svc.clusterset.local` should fail.

I’m not sure it’s a security risk, but it could be a surprise for the administrator — in `cluster2`, i

[2021-10-12 20:15] danibachar commented on #605
@skitt
Thanks for the explanation, in that case I worked on a possible solution - I don't want to PR it before you will approve the idea behind. It feels non-straightforward word solution but seems simple to implement and efficient - let me know what do you think...
Basically I leave everything as is, followup namespace creation and deletions and just prevent DNS queries to namespaces that are not

[2021-10-14 14:33] maayanf24 opened #627 "Service Discovery tests fail with k8s 1.22/OpenShift 4.9"
**What happened**:
While running E2e tests with k8s 1.22, all tests are failing.
Found this error in the logs:

`E1014 14:06:23.666358       1 queue.go:104] Endpoints -> EndpointSlice: Failed to process object with key "e2e-tests-discovery-2g7qd/nginx-ss": error creating &unstructured.Unstructured{Object:map[string]interface {}{"addressType":"IPv4", "apiVersion":"discovery.k8s.io/v1beta1", "endpoi

[2021-10-18 08:58] vthapar commented on #627
@maayanf24 Can you share the gather logs output? Want to check if this error shows up only on cluster where we're running broker or all data clusters.

[2021-10-18 09:36] maayanf24 commented on #627
@vthapar sure

[submariner-20211018093302.tar.gz](https://github.com/submariner-io/lighthouse/files/7363616/submariner-20211018093302.tar.gz)

[2021-10-25 12:59] #627 closed, assigned to skitt, vthapar

[2021-10-25 13:24] aswinsuryan commented on #627
From Openshift 4.9 we have extra validation which allows only service account which has endpointslices/restricted to create an endpointslices that endpoint IP same as cluster's Pod CIDR. So we need to grant this submariner-lighthouse-agent cluster role.

If the broker cluster and data cluster resides together, the broker roles need this permission as well as it will have endpointslices synced from

[2021-10-28 06:00] jinglina opened #636 "service cannot resolved by pod in another cluster"
when using submariner to perform multi-cluster communicate, service cannot be resolved by another cluster for some reason, anyone can help to figure it out?

`subctl show connections` shows well in conenctions between two clusters

cluster1 export service `nginx` in `test-nginx` namespace
in cluster2, serviceimport can be get by `kubectl get serviceimport -n submariner-operator`
`curl test-nginx.t

[2021-10-28 10:56] #636 closed, assigned to nobody

[2021-10-28 22:04] #568 closed, assigned to nobody

[2021-11-10 15:55] sridhargaddam commented on #582
I'm not sure if this is still reproducible with latest builds. Closing this for now, please re-open or let us know if this is still an issue.

[2021-11-10 15:55] #582 closed, assigned to nobody

[2021-11-14 09:20] sridhargaddam opened #645 "Updating an exported service is not handled"
**What happened**:
In a working setup, when a service is exported, we can successfully access it from remote clusters.
If we update the service (like the port numbers) in the origin cluster, the corresponding serviceImport is not updated.

[2021-11-14 09:21] sridhargaddam commented on #645
CC: @aswinsuryan @vthapar

[2021-11-24 06:43] vthapar commented on #605
Ideal fix for this issue would be with https://github.com/submariner-io/lighthouse/issues/214 Namely, we would rely on aggregated import for DNS resolution but we won't aggregate the import if namespace is not present locally.

[2021-12-13 14:17] lut777 opened #655 "delay between clusters"
I would like to ask the maintainer a few questions about the production environment, and would appreciate an answer.
1. Have you measured the time it takes for serviceimport endpoints in one cluster to respond to a change in the endpoint of a serviceexport in another cluster?
This delay is important because it is the potential time when the service is unavailable.
2. When there is a massive endpoi

[2021-12-13 14:24] tpantelis commented on #655
These questions are related to syncing information between clusters via the broker cluster which largely depends on the environment and network latency between clusters.

[2021-12-13 18:49] asanderson opened #656 "GlobalNet-Configured Exported Headless Service Pod's FQDN Not DNS-Resolvable to Itself"
**What happened**:
GlobalNet-Configured exported headless service pod's FQDN was DNS-resolvable to other joined clusters but NOT resolvable to itself.

**What you expected to happen**:
From within headless service pod, I expected to be able to curl the local cluster's service via `<pod>.<cluster>.<service>.<namespace>.clusterset.local` FQDN.

**How to reproduce it (as minimally and precisely as po

[2021-12-15 14:00] vthapar commented on #656
I was able to reproduce locally. Turns out, issue is not that we are unable to resolve the IP, but that we return the Globalnet IP of the local service. Since we don't add any routing rules for globalnet in the local cluster [supposed to use local CIDRs] it doesn't work.

[code]
In the example above I'm running shell in the pod of headless service in `cluster2`. Curl an dping to pod in cluster3 wo

[2021-12-15 14:31] asanderson commented on #656
@vthapar Actually, my **_hostAliases_** setting is for `ip: 127.0.0.1` which overrides the **_/etc/host 127.0.0.1 localhost_** entry in the pod itself.

[2021-12-15 19:26] vthapar commented on #656
@asanderson Looking at the code, it should be unable to resolve any other pod in the local cluster too. Can you confirm it is so? And just to ensure it is same issue, can you confirm that for you also curl [or try ping] resolves query to Globalnet IP and curl/ping to that IP then fails?

[2021-12-15 20:44] asanderson commented on #656
@vthapar Just to clarify, it **_DOES NOT_** resolve other pods in the same cluster using the globalnet fqdn format `<pod>.<cluster>.<service>.<namespace>.svc.clusterset.local`, but it **_DOES_** resolve other pods in a joined cluster using the globalnet FQDN as well as the same cluster using `<service>.<namespace>.svc.clusterset.local` **_AND_** `<pod>.<service>.<namespace>.svc.cluster.local` **_B

[2021-12-16 00:31] #600 closed, assigned to nobody

[2021-12-20 08:24] vthapar commented on #656
@asanderson Thanks, this confirms the root cause and am working on possible fixes. I'll push a PR once I have something good enough.

[2021-12-27 09:48] nyechiel commented on #655
@lut777 we haven't measured these so far. Is there a concrete use-case or scale target you are worry about?

[2021-12-27 09:49] nyechiel commented on #349
Closing old issue. Let's re-open if this is relevant and/or we have concrete user demand.

[2021-12-27 09:49] #349 closed

[2021-12-27 11:50] lut777 commented on #655
So is there a test result under average network conditions? No?
@nyechiel Yes, If there are 500 services in a cluster with rolling upgrades on the back end at the same time, how long will it take for another cluster to finish the upgrade?
This delay is critical cause it's svc's unavailability time. But we don't have the ability to change network conditions immediately. So the performance of lighth

[2021-12-31 08:12] ccwalterhk opened #663 "DNS resolution sometimes does not work."
**What happened**: DNS resolution sometimes not working. This is even within cluster (not across cluster yet).

Example.  ngxslb2 is service. When I login into container and do curl. sometimes, I can get response "Hello Kubernetes!" and sometimes, I could not.
[code]

**What you expected to happen**:  DNS resolution should be working all the time.

**How to reproduce it (as minimally and precisely

[2021-12-31 08:19] ccwalterhk commented on #663
### Finding:

### When I put a . at the end of FQDN, the DNS resolution will work.

[code]

[2021-12-31 09:37] ccwalterhk commented on #663
### Very strange.  sometimes work.  sometimes not working.  put a . at end of FQDN. it works.

[code]

[2021-12-31 09:56] ccwalterhk opened #662 "subctl expose service - supports type Loadbalancer?"
### Does subctl expose service supports type Loadbalancer?

[code]

[2021-12-31 12:29] ccwalterhk commented on #663
### Understand more now. It appends my physical network domain - home.local.

[code]

See below example, all of sudden, it appends "home.local".

[code]

[2021-12-31 13:06] tpantelis commented on #662
No, only type `ClusterIP` is supported. If you inspect the entire `ServiceExport` object you should see a status condition indicating that.

[2022-01-14 13:46] nyechiel commented on #662
@cwalterhk can you explain what's your motivation/use case here? A LoadBalancer type service should have externally-accessible IP address, so what's the point in exporting it?

[2022-01-14 13:48] nyechiel commented on #663
@cwalterhk did you manage to figure it out?

[2022-01-16 06:26] ccwalterhk commented on #663
Based on my last finding, it seems to be a bug.

[2022-01-16 06:30] ccwalterhk commented on #662
I was referring to export to another cluster, not to export externally.  If I have loadbalaner type service and I would like to export to another cluster via submariner.

[2022-01-16 13:11] nyechiel commented on #663
Since you see the issue even with `cluster.local` I find it hard to believe that it has to do with Submariner. @aswinsuryan can you please take a look and see if anything here rings a bell?

[2022-01-16 13:18] nyechiel commented on #662
Yes, I understand that. But if you have a LoadBalancer type service, it means that you want it be accessible from the outside to begin with - so what's the point/benefit in using Submariner?

@skitt @vthapar @aswinsuryan looking at https://github.com/kubernetes/enhancements/tree/master/keps/sig-multicluster/1645-multi-cluster-services-api#clusterset-service-behavior-expectations - should we do any

[2022-01-17 16:49] aswinsuryan commented on #662
@nyechiel yes, for spec compliance we need support for both LoadBalancer and NodePort type services. We started with clusterIP services and didn't expand it since we didn't have a real use case.

[2022-01-17 17:09] aswinsuryan commented on #663
@nyechiel Yes that is right, Submariner does is responsible only for request that comes on clusterset.local. The in-cluster coredns does not forward request for other domain names to submariner coreDNS.

@cwalterhk Do you face this issue only when submariner is deployed?

[2022-01-18 14:13] dfarrell07 commented on #655
/cc @mkolesnik regarding your scale testing work.

[2022-01-27 18:30] anfredette commented on #603
This can be assigned to me.

[2022-02-05 14:00] ccwalterhk commented on #663
I have two sets of K3S cluster.  One without Submariner. Another one has submariner installed.   The one without submariner does not have the problem.

[2022-02-05 14:01] ccwalterhk commented on #663
I did not do the test before installing submariner.

[2022-02-05 14:04] ccwalterhk commented on #662
Hi both, I was just doing the testing.  But, maybe we don't have use case.   I was just wondering.  Even it can access externally. Sometimes, we may still want to access via "internal".

[2022-02-08 16:32] howardjohn opened #680 "imported EndpointSlices missing `multicluster.kubernetes.io/service-name` label"
**What happened**:

Created ServiceExport. Endpointslice is created like:
[code]

**What you expected to happen**:

 `multicluster.kubernetes.io/service-name` label is added, per https://github.com/kubernetes/enhancements/tree/master/keps/sig-multicluster/1645-multi-cluster-services-api#importing-services

[2022-02-10 16:24] donaldh commented on #605
@vthapar I think #214 is independent of this issue. #214 is concerned with merging multiple ServiceImports that are allowed to happen per the spec. This issue is concerned with not allowing a ServiceImport when the relevant namespace is not present in the candidate importing cluster.

A related issue: the kep strongly implies that the ServiceImport object should be created in the namespace that th

[2022-02-10 16:49] skitt commented on #605
Yes, creating the `ServiceImport` objects in the right namespace would fix this, and it would also simplify non-MCS scenarios where services are imported into other namespaces than the namespace of the service itself.

[2022-02-10 16:59] #680 closed, assigned to skitt

[2022-02-10 22:36] donaldh commented on #605
I have a potential patch to move ServiceImports into the appropriate namespace. Will test to see if any more work is needed.

[2022-02-14 08:55] #603 closed, assigned to anfredette

[2022-02-14 14:10] vthapar commented on #605
@donaldh You're correct that it is a different issue from #214 but our intention was to implement namespace checks when we aggreate service imports. Namespace checks will be implicitly done as part of creating aggregated serviceimport in the service namespace. Whether we decide to auto-create namespace or set ServiceImport status to error, either can be done when aggregating serviceimports. Servic

[2022-02-14 15:17] davidohana opened #685 "Remote service is not available if namespace is deleted and recreated"
**What happened**:

1. Export service `my-svc` on namespace `my-ns` on `cluster1`
2. Create namespace `my-ns` on `cluster2`
3. LH agent creates `endpointslice` on `my-ns` at `cluster2`
4. `my-svc` is now accessible on cluster2 at endpoint `my-svc.my-ns.svc.clusterset.local`
5. Delete namespace `my-ns` on `cluster2`
6. Create namespace `my-ns` on `cluster2`

**What you expected to happen**:
`endpoi

[2022-02-14 16:48] donaldh commented on #605
@vthapar Is your intention that the ServiceImports would be synchronised to the submariner-operator namespace and then merged into a single ServiceImport in the target namespace?

[2022-02-15 07:14] vthapar commented on #605
@donaldh Yes. Other way would be to aggregate at source in correct namespace,keep only one copy on broker and sync to origin namespace on remotes. Both have pros and cons.

1. Aggregate at source: Easy to catch conflicts and update status on ServiceExport, lesser ServiceImports being synced across clusters. But that might lead to too many conflicts when writing from multiple clusters at same time.

[2022-02-15 07:24] vthapar commented on #685
Currently we don't check or track namespace on imported clusters. Fix for #605 should make sure this use case is also handled.

[2022-02-17 18:24] nyechiel commented on #645
@donaldh @davidohana this was recently discussed, but realistically not going to happen for 0.12 unless you/someone else are going to work on this before March 3 (rc0). Unless you are planning to pick it up, we should remove it from the 0.12 board.

[2022-02-20 13:01] elevran commented on #645
@nyechiel the work plans to tackle that but it is not currently planned to complete in time for 0.12 or be done on the main repo (we're mostly evaluating options via PoC based on the service model review comments).
However, I'll take a quick look and see if it's something that can get a fix for in time or not. Will update around mid this week

[2022-02-20 17:55] elevran commented on #645
@nyechiel - spent half a day on analyzing and understanding the code flows and needed tests.
The fix for changing services specification really requires that Submariner also handle "Conflict" status correctly (e.g., if you only change one of the Service specifications) for all relevant Global Parameter cases. I'm unclear whether this is currently handled (seems not). Therefore, please remove it fr

[2022-02-21 15:19] nyechiel commented on #576
@skitt how important is this for 0.12?

[2022-02-21 17:12] skitt commented on #576
It isn’t; we’ll need to address this by this summer (the planned release date for K8s 1.25).

[2022-02-24 11:48] davidohana opened #693 "ServiceImport is not recreated if Service is deleted and recreated"
**What happened**:
If a service is created **after** ServiceExport already exist, ServiceImport is not created.

**What you expected to happen**:
ServiceImport shall be created no matter the order of service & service export creation.

**How to reproduce it (as minimally and precisely as possible)**:
1. Deploy service `monti-host` and backing pods
2. Create ServiceExport for `monti-host` with subc

[2022-02-24 11:56] vthapar commented on #693
From the Export status it looks like GlobalIP is not allocated. @davidohana Can you check the globalingressIPs and check if globalIP is allocated for this service or not?

[2022-02-24 14:54] davidohana commented on #693
@vthapar  no globalingressIPs. The recreated service `monti-host` ands its pods seems healthy.

[code]

[code]

[code]
[code]

[2022-02-24 16:31] vthapar commented on #693
@davidohana Take a look at logs of submariner-globalnet pod if there are any errors in there. IngressIPs should've been allocated for every exported service.

[2022-02-27 09:59] davidohana commented on #693
This is the submariner-globalnet pod output:

[code]

[2022-03-02 08:48] davidohana opened #696 "Auto-Restoring deleted ServiceImports and EndPointSlices"
Not sure whether to call this a bug or an enhancement.

**What happened**:

* Deleting a service import or an endpoint slice locally - it stays deleted locally and deletion is synced to the broker.
* Deleting a service import or an endpoint slice from the broker, nothing happen

**What you expected to happen**:

The agent shall recreate the service import / endpoint slice after some time as the "s

[2022-03-02 11:15] vthapar commented on #696
@davidohana Could you clarify what you mean by deleting locally? I expect you mean deleting locally on the source cluster where export exists, but just wanted to be sure it is so.

[2022-03-02 14:35] davidohana commented on #696
Yes, that what I mean - deleting on the origin cluster.

[2022-03-07 09:10] mkolesnik commented on #576
We should address it in 0.13

[2022-03-07 12:12] yboaron commented on #576
Maybe (for 0.12) we should avoid appending the warning to lighthouseagent/coredns pods logs every few minutes?

[yboaron@fedora submariner-operator]$ kubectl logs submariner-lighthouse-agent-64cb4cfd47-xk8w4   -n submariner-operator
I0307 10:55:06.911728       1 main.go:70] Arguments: [/usr/local/bin/lighthouse-agent -alsologtostderr -v=2]
I0307 10:55:06.911768       1 main.go:71] AgentSpec: {clus

[2022-03-09 10:50] sridhargaddam opened #704 "Initialise the Lighthouse metrics to zero"
Currently, Lighthouse exports the following metrics `submariner_service_import`, `submariner_service_export` and `submariner_service_discovery_query`. However, these metrics will be visible in the dashboard only when we create a ServiceExport or if there is a ServiceImport in the Cluster.

When a user tries to query for these metrics before creating the serviceExport, it results into an error.

It

[2022-03-09 13:00] vthapar commented on #704
All lighthouse metrics are handled in syncer code in Admiral:

https://github.com/submariner-io/admiral/blob/devel/pkg/syncer/resource_syncer.go#L434
https://github.com/submariner-io/admiral/blob/devel/pkg/syncer/resource_syncer.go#L485

This will require changes in Admiral to provide an API to initialize metrices. This will impact other code that relies on Admiral for metrices too. Likely not an

[2022-03-09 13:47] mkolesnik commented on #662
On LB type service the IP is external to the cluster no? So how would that work if let's say a packet arrives to the cluster with dest IP of the LB service, would the CNI/K8s on the dest cluster know how to deal with that?

As for NodePort we can expose the nodes subnet as well but that just increases the possibility of CIDR collision, I suggest we stick with ClusterIP services as its the most ben

[2022-03-14 13:32] mkolesnik opened #707 "Errors on `subctl verify` when running with Globalnet"
**What happened**:
Running `subctl verify` on 0.12.0-rc1 test day, the clusters are installed with Globalnet.
Got the following errors:
[code]

Full log: [log.txt](https://github.com/submariner-io/lighthouse/files/8244410/log.txt)

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Diagnose in

[2022-03-14 15:50] sridhargaddam commented on #707
Some observations from the Globalnet pod:

[code]

We have some test-cases in our e2e which will create globalEgressIPs at the namespace level and verify that connectivity is working with the globalIP assigned at the namespace level. From the above logs, we can see that after the test-case finishes, it tries to delete the globalEgressIP object which in turn triggers the cleanup in the globalnet Po

[2022-03-14 18:32] sridhargaddam commented on #707
I'm seeing the following errors in lighthouse agent code running on mkolesni-0.12-testday1

[code]

[code]

It says ` "nginx-ss-mkolesni-0.12-testday1" is forbidden: unable to create new content in namespace e2e-tests-discovery-wjjgt because it is being terminated`. Why is LH/Admiral code trying to create something while the namespace is getting deleted?
Is it some issue with the test-code?

CC: @

[2022-03-14 18:40] sridhargaddam commented on #707
Just an observation and may not be the reason for the failures.

There are a lot of WARNINGS in Lighthouse agent code with the following message
[code]

[2022-03-15 06:05] vthapar commented on #707
@sridhargaddam First issue could be one of two:

1. We're waiting for globalIP [or some other event] but by the time we get notification for it test has already timed out and started cleanup process. So our test fails and starts cleanup but during cleanup, ligthouse agent gets notification and throws this error.
2. Issue with running tests in parallel. We had a similar issue about a year or so ago

[2022-03-15 06:12] sridhargaddam commented on #707
globalIP was actually allocated in time, so it could be some other issue then.

@mkolesnik is the problem consistently reproduced?

[2022-03-15 06:50] mkolesnik commented on #707
I didn't have a chance to re run this as the whole test run (due to the obscenely long timeouts) took I think more than an hour, maybe two. The setup has been torn down (automatically) so it's not available anymore.
However, diagnose and everything else seemed to be working fine so IDK if it's a problem with the tests or with LH itself, the `gather` logs from both clusters are attached and should

[2022-03-15 13:46] dfarrell07 commented on #656
@vthapar is this still open? I see the release notes label, which seems to imply something was merged.

[2022-03-15 14:32] vthapar commented on #656
@dfarrell07 Yeah, it is still open, was low priority for 0.12.0. Not sure why the release-note label, maybe if we also capture known open issues in release notes?

[2022-03-15 18:50] nyechiel commented on #707
@sridhargaddam @vthapar what's the latest on this? this is the only issue blocking us from releasing 0.12.0 AFAIK.

[2022-03-16 05:46] sridhargaddam commented on #707
@nyechiel I had a close look at the logs and from Globalnet POV things are looking fine. There are some errors in Lighthouse tests and DNS resolution is failing because of which discovery tests are failing.

Apart from the observations I shared earlier, I also see some errors in LH when there is a request for DNS resolution and the entry was missing.

[code]

Since we no longer have the original s

[2022-03-16 07:03] sridhargaddam commented on #707
Okay, I re-ran the discovery tests on AWS Clusters running with OCP 4.9 + Submariner 0.12.0-rc1 + Globalnet and all the tests passed. So, looks like it was some transient error. @nyechiel we can remove this issue from the blocking list.

[code]

[code]

[code]

[2022-03-16 07:04] sridhargaddam commented on #707
@mkolesnik shall we close this issue as not reproducible?

[2022-03-16 07:22] vthapar commented on #707
@sridhargaddam @nyechiel I've run it twice with no failures and now working on my 3rd run to be sure. It does seem to be transient.

@mkolesnik This makes a good case of fast fail so that we can gather logs at the point of failure and not run any more tests. With e2e currently doing namespace cleanup on failure we are missing crucial information like Endpointslices, Exports and Imports.

[2022-03-16 07:31] mkolesnik commented on #707
I disagree this should just be closed, clearly there was an issue that happened on multiple tests and as such doesnt seem like "transient" to me (or it would fail just 1 test). That's also why "fast fail" is not a good option for test day, since you don't know if the test failed randomly or if it happens consistently.

If we're missing information to understand the problem then we need to address

[2022-03-16 08:00] vthapar commented on #707
Found the issue and confirmed from Coredns logs. Issue is only with headless/stateful set tests where we query a specific pod or pods in specific cluster.

[code]
Note that it is missing the podname for DNS query. It is because of `.` in cluster name. So it ends up interpreting `mkolesni-0` as podname and `12-testday2` as clustername. Clustername should be a valid DNS Label [alphanumeric and `-` o

[2022-03-16 08:08] mkolesnik commented on #707
I see no problem prohibiting `.` in cluster names altogether.
Note that I didn't specify an explicit name though so `subctl join` should generate a compliant name if it's not requested, and we should enforce only explicit name requests.

Also is `.` the only limitation or are there more?

[2022-03-16 08:11] mkolesnik commented on #707
We should probably follow K8s naming restrictions https://kubernetes.io/docs/concepts/overview/working-with-objects/names/

[2022-03-16 09:03] vthapar commented on #707
Yes, RFC1035 validations. So where to add all these checks?

1. `subctl deploy-broker`?
2. `subctl join`
3. All operators and agents, basically anything that uses clusterid at bringup?

[2022-03-16 09:08] mkolesnik commented on #707
I believe in `subctl join` would make the most sense, and obviously in the agent as you specified that it'll throw an error. If we need it in other agents I guess it could make sense somewhat, but realistically they dont use the name for DNS so it doesnt matter, so I'd focus on the places where it matters.

[2022-03-16 17:45] #707 closed, assigned to nobody

[2022-03-20 12:27] manosnoam commented on #273
Exporting headless service is now supported in Submariner v0.12, right @nyechiel ?

[2022-03-20 12:29] nyechiel commented on #273
Yes. @yboaron @vthapar @sridhargaddam can help if you are seeing any issues or have further questions.

[2022-03-21 13:51] sridhargaddam commented on #656
@vthapar do you think we should target this bug for next release?

[2022-03-23 10:48] vthapar opened #714 "Submariner ServiceExport does not have unique condition types to wait for readiness"
**What happened**:
After creating service export with subctl, ther's no way to validate it with kubectl/oc wait command,
since Submariner ServiceExport does not have unique condition types to wait for readiness (all types are the same "Valid").

For example, on a working service export status it failed on:

$ oc wait serviceexport nginx-cl-bc --for=condition=Valid
error: timed out waiting for the

[2022-03-23 10:50] vthapar commented on #714
Multiple conditions with `Valid` with some True and some False is what causes problems. We need a single Ready condition that should be set to True/False based on when readiness changes. Better would be for MCS API to provide unique condition types.

[2022-03-23 12:31] tpantelis commented on #714
It seems condition types are intended to be singletons, ie only retain the last state. I didn't realize that at the time and implemented it as a historical trace which I think also has some merit however I think we should utilize conditions as intended.

[2022-03-24 06:34] vthapar commented on #714
Yeah, while historical trace helps with troubleshooting and was immensly helpful during early development of lighthouse, it breaks the condition checks. For historical trace, it is better done as different types, like we do with addon.

[2022-03-24 12:08] tpantelis commented on #714
Yup. I'll take care of this for 0.13.

[2022-03-28 07:11] #714 closed, assigned to tpantelis

[2022-04-06 12:09] #576 closed, assigned to vthapar

[2022-04-11 21:18] srampal commented on #214
This issue also causes Submariner to not support Multi-Cluster ingress load balancing via upstream K8s Gateway api which was being [tested here.](https://github.com/submariner-io/submariner/issues/1685). It would be good to escalate the priority of fixing this issue as it is also breaking the usage of Submariner  with implementations of K8s Gateway API for multi-cluster load balancing.

[2022-04-12 20:31] srampal opened #733 "Submariner not working with K8s Gateway API based Multi-Cluster Ingress load balancing"
I am testing the use of K8s gateway api along with Submariner for Multi-Cluster ingress load balancing (as part of t[his investigation ](https://github.com/submariner-io/submariner/issues/1685). The approach used for testing was based on using Istio-Envoy's implementation of the Kuebrnetes Gateway API with MCS api extensions support (as [suggested here](https://istio.io/latest/docs/tasks/traffic-m

[2022-04-22 18:25] srampal commented on #733
on a related note, there is also an upstream istio bug that prevents this from working even if the Submariner Service aggregation restriction is fixed. This has been opened as the following issue  https://github.com/istio/istio/issues/38529

[2022-04-24 03:37] sridhargaddam commented on #733
Thanks for reporting the issue @srampal. As the fix needs to be done in Lighthouse component, moving it to Lighthouse repo.

[2022-04-24 15:45] manosnoam opened #734 "Use nginx rootless "quay.io/openshifttest/nginx-alpine:latest""
We should rather use `quay.io/openshifttest/nginx-alpine:latest` image - which is rootless - instead of "quay.io/testing-farm/nginx:latest", otherwise our e2e will keep failing on OCP clusters.

_Originally posted by @dfarrell07 in https://github.com/submariner-io/lighthouse/issues/731#issuecomment-1106581019_

[2022-04-24 15:50] dfarrell07 commented on #734
We need a rootless nginx container, but IDK if that one is a good solution. It doesn't seem to have been updated in 2y.

https://quay.io/repository/openshifttest/nginx?tab=tags

I would love to get the test-farm folks to mirror the official non-root nginx container from DockerHub to Quay.

[2022-05-03 13:37] dfarrell07 commented on #733
@yboaron volunteered to look in to this

[2022-05-03 13:39] dfarrell07 commented on #733
@skitt gave some background making it clear that this is critical for Submariner in the mid-term

[2022-05-04 10:00] skitt opened #745 "Go compilation should build packages, not files"
The current compilation process uses `main.go` files explicitly to build the various binaries. In Go 1.18, this creates a significant difference compared to building the corresponding package: the resulting binary identifies the module containing the main file as a dependency, rather than the main module of the binary.

Thus in Submariner, `go build -o submariner github.com/submariner-io/submarine

[2022-05-06 08:15] #745 closed, assigned to skitt

[2022-05-09 12:06] manosnoam commented on #734
@dfarrell07
[quay.io/openshifttest/nginx-alpine:latest](http://quay.io/openshifttest/nginx-alpine:latest) is from Fri, Sep 24, 2021 10:15 AM, not so long ago

[2022-05-09 12:30] skitt commented on #734
But still far too long ago: https://quay.io/repository/openshifttest/nginx-alpine/manifest/sha256:0d97a01288e1b0395cbcba653f1491aa9e10582b87fee254d7fbe59e834ecaae?tab=vulnerabilities (this isn’t the exact same image, but the `:latest` image is based on the same Alpine image and will have the same vulnerabilities).

[2022-05-09 16:23] mikenorgate commented on #656
Is there any updates on this as I'm blocked by this issue. I use a headless service to identify the addresses of all instances of a service that are running in all clusters, due to the lookup only returning globalnet addresses I'm only able to communicate with instances in other clusters

[2022-05-10 16:22] abguptms opened #754 "Service labels not captured in Endpointslices generated from lighthouse agent"
**What happened**:
The endpointslices.discovery.k8s.io/v1 document generated by lighthouseagent for an exported service lacks the labels associated with the actual service document.
**What you expected to happen**:
Alike EndpointController which actually maps all the labels associated with the actual service document, expectation is that the endpointslices generated from submariner too captures al

[2022-05-10 16:26] abguptms opened #755 "EndpointSlices generated by lighthouse agent doesn't capture all endpoint conditions"
**What happened**:
The endpointslices generated by submariner-operator don't capture all the conditions associated with an endpoint. Only ready condition is captured while serving and terminating are not captured.
**What you expected to happen**:
All the conditions associated with an endpoint should be captured. All conditions including ready, serving and terminating.
**How to reproduce it (as min

[2022-05-12 14:38] dfarrell07 opened #758 "Rename nginx references to be more generic, as we now use nc not nginx"
Because of difficulty finding up-to-date, rootless nginx container images (required for OpenShift), we've moved to a much simpler nc-based "simpleserver". However, there are still very many references to nginx in the code, especially Lighthouse code. Ideally we'd rename these to be more generic, correct.

[2022-05-17 13:38] aswinsuryan commented on #663
Closing for now due to lack of information.

[2022-05-17 13:38] #663 closed, assigned to nobody

[2022-05-17 13:47] dfarrell07 commented on #685
This may be related to https://github.com/submariner-io/submariner/issues/1734, maybe even a partial duplicate.

[2022-06-02 04:17] srampal commented on #733
Just to clarify, the root cause of this issue is the known existing issue of not aggregating ServiceImport objects.

https://github.com/submariner-io/lighthouse/issues/214

Once that issue is fixed it may also resolve this issue.  Hence requesting prioritization of fix for that issue (214) .

[2022-06-07 13:05] dfarrell07 commented on #214
Wanted to make sure it's clear there was an EP merged for this here: https://github.com/submariner-io/enhancements/pull/111

[2022-06-07 13:40] dfarrell07 commented on #693
We don't have a listener that watches for Service, just ServiceExport. I think this is fundamentally the same as https://github.com/submariner-io/submariner/issues/1734.

[2022-06-07 13:43] dfarrell07 commented on #693
This may also be fixed as a part of https://github.com/submariner-io/enhancements/pull/111.

[2022-06-07 13:55] dfarrell07 commented on #696
There are likely other objects that would fail in similar ways if a user deletes them, because they are internal objects that we don't expect users to mess with. To handle this properly we would need to make a more systematic review of the code base, which would likely be benefited by an EP and a broader discussion about what should change and how.

[2022-06-09 15:01] mikenorgate opened #775 "Skip local endpoint slice lookup if not using globalnet"
#757 introduces functionality to lookup the local endpoint slice when using globalnet, when globalnet is not used this call is unnecessary and should be skipped to improve stability.

This requires lighthouse to be aware the globalnet is being used

[2022-06-10 17:04] mikenorgate opened #776 "GCE ingress controller crashes when services exported"
**What happened**:

After following the instructions in the documentation to setup a GKE cluster I noticed that GCP was no longer automatically creating load balancers for ingress.

Following the instructions detailed in the GCE ingress repo (https://github.com/kubernetes/ingress-gce/tree/master/docs/deploy/gke) I was able to deploy an instance of the ingress controller into my cluster, rather tha

[2022-06-18 13:28] mikenorgate commented on #776
This has been resolved by GCP ingress https://github.com/kubernetes/ingress-gce/pull/1733

[2022-06-18 13:28] #776 closed, assigned to nobody

[2022-06-20 15:39] skitt opened #779 "The Lighthouse CoreDNS plugin needs to switch to NormalizeExact"
The plugin is now showing a warning:

[code]

See https://pkg.go.dev/github.com/coredns/coredns/plugin#Host.Normalize

[2022-06-21 07:27] #656 closed, assigned to vthapar

[2022-07-04 07:38] nyechiel opened #787 "[Lighthouse] Flake Finder: globalnet, helm, 1.23 job is failing"
See https://github.com/submariner-io/lighthouse/actions/runs/2607136964 and https://github.com/submariner-io/lighthouse/actions/runs/2603270739

[2022-07-04 07:38] nyechiel commented on #787
@aswinsuryan can you please take a look at this?

[2022-07-04 14:41] mkolesnik commented on #655
The scale testing work wasn't concluded and thus I have nothing to add at this time

[2022-07-05 13:42] #655 closed, assigned to nobody

[2022-07-06 22:21] aswinsuryan commented on #787
The test seems to be taking so much time , though it is not consistent with all runs, This should be related to infra, like some pod is not coming to the available state in a short time.

[2022-07-07 06:04] blue-troy opened #792 "MultiCluster was spelled as MutliCluster"
**MultiCluster was spelled as MutliCluster in [code ](https://github.com/submariner-io/lighthouse/blob/devel/test/e2e/discovery/service_discovery.go#L70)**:

**change  MutliCluster to MultiCluster **:

[2022-07-07 06:29] nyechiel commented on #787
@aswinsuryan @skitt I noticed that the latest Release Images job was failing in Lighthouse for devel: https://github.com/submariner-io/lighthouse/runs/7111496378?check_suite_focus=true

Could it be related?

[2022-07-07 07:36] skitt commented on #787
I doubt it, the release failure was caused by a Golang proxy error. The stale images wouldn’t cause problems because the last merge in `devel` was an infrastructure fix; nothing changed in the images.

[2022-07-07 15:02] #792 closed, assigned to nobody

[2022-07-11 23:02] dfarrell07 opened #813 "Figure out what to do about GHSA-2927-hv3p-f3vp in caddy"
The [proposed Anchore vulnerability scanning is flagging this](https://github.com/submariner-io/lighthouse/runs/7291951221?check_suite_focus=true).

It seems to be an issue in [caddyserver/caddy](https://github.com/caddyserver/caddy) and is fixed in the recent releases.

However, we use a [stripped-down fork of caddy v1](https://github.com/coredns/caddy), specialized for use in coredns. It pulls i

[2022-07-11 23:02] dfarrell07 commented on #813
Any thoughts, @skitt?

[2022-07-12 08:29] skitt commented on #813
It turns out `coredns/caddy` _doesn’t_ pull in `caddyserver/caddy`; the latter is pulled in by Lighthouse because our CoreDNS plugin imports its `onevent` package. `coredns/caddy` has its own implementation of `onevent`, so if we use that we can drop our `caddyserver/caddy` dependency entirely.

[2022-07-12 08:33] skitt commented on #813
`coredns/caddy` doesn’t include the `caddyhttp` module which is [where the vulnerability lies](https://github.com/caddyserver/caddy/pull/4407) (see also [the followup](https://github.com/caddyserver/caddy/pull/4499) which is the GHSA being discussed here).

[2022-07-12 13:07] dfarrell07 commented on #662
If this is still needed/relevant feel free to re-open, otherwise cleaning up for now.

[2022-07-12 13:07] #662 closed, assigned to nobody

[2022-07-12 13:21] dfarrell07 commented on #787
The Flake Finder has been passing for the last weekish 100%.

https://github.com/submariner-io/lighthouse/actions/workflows/flake_finder.yml

[2022-07-12 13:21] #787 closed, assigned to nobody

[2022-07-12 13:49] dfarrell07 commented on #214
Discussed on the PR scrub today. This seems important for folks that want to use Lighthouse service discovery with something else to provide connectivity, see https://github.com/submariner-io/lighthouse/issues/733. This also relates to namespaces, making an export in SubM makes the service available in all clusters vs only the clusters with a matching namespace. Also scale, having aggregate servic

[2022-07-12 17:54] #813 closed, assigned to dfarrell07

[2022-07-12 18:23] dfarrell07 opened #816 "Run code scanning against each branch, not only PRs"
We currently only run code scans on PRs. To cause [GitHub to show code scan results](https://github.com/submariner-io/lighthouse/security/code-scanning) for the devel branch, the scans need to be run on push or periodic events.

Maybe should also think about running against non-devel branches?

[2022-07-12 19:00] mkimuram opened #817 "globalIP for headless service without selector needs to be set to Endpointslice"
**What happened**:
GlobalIP isn't set to Endpointslice when headless service without selector is created.

**What you expected to happen**:
GlobalIP is set to Endpointslice when headless service without selector is created.

**How to reproduce it (as minimally and precisely as possible)**:

Follow the steps until "Verify access to External hosts from clusters" in https://github.com/submariner-io/s

[2022-07-13 17:46] #816 closed, assigned to dfarrell07

[2022-07-19 16:47] nyechiel commented on #779
@skitt @vthapar how important this one is? should we address in 0.14?

[2022-07-19 17:13] tpantelis commented on #779
If I may, this is simple tech debt - I'll take it.

[2022-08-10 18:05] goncalopcarvalho opened #881 "Created EndpointSlices miss service name label and make metallb crash"
**What happened**:
The EndpointSlices resources created by submariner are making metallb speaker pods crash during runtime. This behaviour is due to the EndpointSlices missing a service name label, and it can be manually fixed by adding the label to the EndpointSlice resource in question. All the verifications mentioned in the [documentation](https://submariner.io/getting-started/quickstart/k3s/#v

[2022-08-23 08:59] blue-troy opened #859 "query a not exist record too slow"
** if we query a service name like nginx.default.svc.clusterset.local associate a service export, we can quickly get the result. but if a service name ends with svc.clusterset.local which not associate a service export, we will cost lots of time.**:

**query a service that not export ,we will get a empty response or NXDomain  quickly**:

**How to reproduce it (as minimally and precisely as possibl

[2022-08-31 03:28] #859 closed, assigned to nobody

[2022-09-14 06:15] blue-troy opened #875 "Retry when export a not supported type service"
**What happened**: If we export a service which type is not support like nodeport, then change the service type to a suppport type like clusterip, the ServiceImport will not be create.

**What you expected to happen**: when the service's type change to a support type, the ServiceImport should be create.

**How to reproduce it (as minimally and precisely as possible)**:

1. Run nginx with nodeport

[2022-09-19 10:00] #875 closed, assigned to nobody

[2022-10-06 14:07] dfarrell07 opened #888 "Helm+Lighthouse jobs are failing"
There seems to be consistent failures in some parts of the CI matrix that combine Lighthouse and Helm.

On the Lighthouse repo:
[E2E (helm, 1.25)](https://github.com/submariner-io/lighthouse/actions/runs/3193870523/jobs/5212868250#logs)
[E2E (globalnet, helm, 1.25)](https://github.com/submariner-io/lighthouse/actions/runs/3193870523/jobs/5212868382#logs)

On the Helm repo:
[E2E (libreswan, globaln

[2022-10-09 08:55] sridhargaddam commented on #888
All jobs seem to be passing now in Lighthouse repo:
https://github.com/submariner-io/lighthouse/actions/runs/3212460031

[2022-10-12 15:48] #888 closed, assigned to nobody

[2022-10-18 13:16] dfarrell07 commented on #696
@vthapar pointed out that finalizers may be a good, low-overhead way of doing this.

[2022-10-18 13:19] dfarrell07 commented on #775
@mikenorgate are you up for working on this? @vthapar is willing to guide.

[2022-10-20 05:13] #645 closed, assigned to nobody

[2022-10-20 09:14] #779 closed, assigned to tpantelis

[2022-10-25 06:44] nyechiel commented on #881
@yboaron did you have a chance to look into this?

[2022-10-27 08:36] yboaron commented on #881
Not yet, it's on my to-do list, hope to get to it in the next 1-2 weeks.

[2022-10-31 06:39] s-mansouri opened #934 "First packet only: Destination host unreachable"
**What happened**:
I have two cluster with kube-ovn CNI. I connect this two clusters with submariner based on this [doc](https://github.com/kubeovn/kube-ovn/blob/v1.10.6/docs/cluster-submariner.md).
**cluster k8sfo02**
[code]

**cluster k8sfo01**
[code]
But when I ping the IP pod of another cluster from local cluster, only first packet reaches, after that it gives Destination Host Unreachable
[cod

[2022-10-31 13:39] MartijnStraatman opened #936 "service discovery not working without gateways"
**What happened**:

I deployed solely the lighthouse agents (no gateways) for service discovery by :

`subctl deploy-broker --components service-discovery`

I followed the user-guide and deployed the nginx-test pods.
https://submariner.io/operations/usage/

The following connectivity test results in an `unknown host exception` when the deployment on the local cluster is scaled to zero:

`curl ngin

[2022-11-02 09:46] yboaron commented on #881
Hi @Prophetick , I tried to reproduce this issue on Kind environment but was unable to reproduce it (MetalLB speaker pods restart).

To deploy Submariner **(latest devel)** + MetalLB **(version 0.13.5)** on Kind, I downloaded the latest https://github.com/submariner-io/submariner-operator and run :
**make deploy using=load-balancer,lighthouse**

I run both Submariner e2e tests (subctl verify ) and

[2022-11-02 11:50] goncalopcarvalho commented on #881
Hi all, thanks for the reply.

When I opened this issue I was using Submariner 0.12.2 and MetalLB 0.12.1.

I can confirm that upgrading Submariner to version 0.13.1 and MetalLB to version 0.13.5 solved the problem for me, I can no longer reproduce this.

[2022-11-02 11:53] nyechiel commented on #881
Closing as per the last comment.

[2022-11-02 11:53] #881 closed, assigned to yboaron

[2022-11-02 15:06] vthapar commented on #936
We have code to check if gateways resource is available or not. If not, we assume clusters to be always connected. This is the code:

https://github.com/submariner-io/lighthouse/blob/devel/coredns/gateway/controller.go#L85

Likely, we're installing gateways CRD even on service-discovery only deployments. @skitt DId we change anything in operator/subctl regarding how CRDs are installed?

[2022-11-04 01:52] juju812 commented on #936
CRD `gateways.submariner.io` will be created while `submariner-operator` initialized and `Reconcile`. So before delete CRD `gateways.submariner.io` (and enable debug log of `lighthouse-coredns`), `submariner-operator` must be stopped.

[code]

[2022-11-10 03:06] juju812 opened #954 "Option to integrate lighthouse plugin to cluster coredns"
In current implementation, multicluster DNS discovery is handled by dedicated deployment `submariner-lighthouse-coredns`.  When user want to access service imported from another cluster, `clusterset.local` domain has to be specified, and then forwarded to `submariner-lighthouse-coredns` service.

But for our usecase, we prefer to use `<svc-name>.<namespace>`  pattern, and we do not care whether th

[2022-11-10 03:18] juju812 commented on #954
I found implementation of forward plugin(dedicated dns server) is introduced by: https://github.com/submariner-io/lighthouse/issues/110.
In my view it's better to let user choose dedicated dns server needed or not. :smile:

[2022-11-10 03:36] juju812 opened #956 "Explicit fallthrough is needed while request does not match configured zones"
While demonstrating https://github.com/submariner-io/lighthouse/issues/954, I found that explicit `fallthrough` is needed while request does not match configured zones, and this is different with behavior of [`kubernetes`](https://github.com/coredns/coredns/blob/master/plugin/kubernetes/handler.go#L19) and [`multicluster`](https://github.com/coredns/multicluster/blob/main/multicluster.go#L119). If

[2022-11-10 20:08] abguptms opened #957 "Synced endpointslice name in broker namespace missing original namespace name"
**What happened**:
We have two services under different namespace with same name. When we export them using lighthouse, it overwrites information from the last updated resource. This conflict affects our ability to run same name services under different namespaces.

**What you expected to happen**:
Namespace name attached to endpoint slice document name synced to broker namespace.

**How to reprod

[2022-11-15 14:31] dfarrell07 commented on #957
This seems to be related to https://github.com/submariner-io/lighthouse/issues/214.

[2022-11-15 14:31] dfarrell07 commented on #214
It seems a user is asking for this in https://github.com/submariner-io/lighthouse/issues/957.

[2022-11-15 14:35] dfarrell07 commented on #956
CC @vthapar

[2022-11-15 14:38] dfarrell07 commented on #954
Thanks for the report! This seems interesting, but I'm not sure who currently working on the project has cycles for it. Maybe you'd like to take it on, with some guidance?

[2022-11-15 14:45] dfarrell07 commented on #934
CC @aswinsuryan @sridhargaddam

Thanks for the report, that's an interesting error!

[2022-11-15 20:25] abguptms commented on #957
No, the issue here is that the name of the document synced under broker namespace doesn't contain namespace which conflicts with any other same name application under a different namespace.

Issue 214 is aggregating all the serviceimports from all lighthouse agents under a single document. These are very different problems. My issue will still persist even if aggregated under a name only based doc

[2022-11-16 08:30] skitt commented on #957
@abguptms the problems are different, yes; but from our perspective fixing #214 would also fix this.

[2022-11-16 16:34] abguptms commented on #957
Okay, sounds good. I can track issue [#214](https://github.com/submariner-io/lighthouse/issues/214) if we want to mark this as duplicate.

[2022-11-16 17:41] tpantelis commented on #214
@vthapar @aswinsuryan I think we should do this for 0.15. I can work on it with your SME guidance. WDYT? cc @nyechiel

[2022-11-16 17:55] tpantelis commented on #957
I don't think https://github.com/submariner-io/lighthouse/issues/214 would inherently fix this. Looking at the [enhancement proposal](https://github.com/submariner-io/enhancements/pull/111/files), the `EndpointSlice` functionality would largely remain the same. I think the problem here is that we don't include the namespace in the [EndpointSlice  name](https://github.com/submariner-io/lighthouse/b

[2022-11-16 17:58] aswinsuryan commented on #214
ya, it is a long pending task, it would be good if we can get this done. Since lighthouse coredns is not going to consume this we may not have an impact in DNS resolution logic. Also to start with we can leave the IP field in the ServiceImport blank and focus on conflict resolution, like validating if all the ServiceImport with the same name and in the same namespace have the same service type.

[2022-11-21 03:26] juju812 commented on #954
No problem. I can try to implement a demo and integrate operations listed above into lighthouse codes. It will take about 2 or 3 weeks. After that maybe you can help to do some adaption and merge into the project.

[2022-11-22 10:43] #957 closed, assigned to tpantelis

[2022-11-28 10:41] skitt opened #980 "MCS conformance: ServiceImports should have a single IP address"
The MCS API spec says

The conformance test checks for this and fails on Submariner.

Where possible (_i.e._ when using Globalnet), `ServiceImport` objects should reflect the global IP address for the service.